---
import Benefits from "@/components/bot/Benefits.astro";
import Contact from "@/components/bot/Contact.astro";
import Dashboard from "@/components/bot/Dashboard.astro";
import Hero from "@/components/bot/Hero.astro";
import How from "@/components/bot/How.astro";
import Keywords from "@/components/bot/Keywords.astro";
import Layout from "@/layouts/Layout.astro";
import { changeLanguage } from "i18next";

changeLanguage("ko");
---

<Layout title="FingeRate Bot">
  <div
    class="space-y-12 py-12 md:space-y-24 lg:space-y-32 md:pb-24 overflow-hidden"
  >
    <Hero />
    <Keywords />
    <How />
    <Benefits />
    <Dashboard />
    <Contact />
  </div>
</Layout>
