---
import { changeLanguage } from "i18next";
import Layout from "@layouts/Layout.astro";
import Form from "@components/Form.astro";

changeLanguage("ko");
---

<Layout title='Contact'>
  <section class='mx-auto grid h-full max-w-screen-sm items-center p-2'>
    <div class='space-y-4'>
      <div class='text-center'>
        <h1 class='brand-text text-3xl font-bold leading-loose drop-shadow-[0_0_8px_#000]'>Contact Us</h1>
        <p>
          We're always happy to help with any questions or requests you may have! If you need a more personalized
          response, we'll do our best to get back to you as quickly as possible.
        </p>
      </div>
      <div class='rounded-xl bg-slate-950/80 p-4'>
        <Form />
      </div>
    </div>
  </section>
</Layout>
