---
import { changeLanguage } from "i18next";
import Features from "@components/home/Features.astro";
import App from "@components/home/App.astro";
import Hero from "@components/home/Hero.astro";
import Partners from "@components/home/Partners.astro";
import Steps from "@components/home/Steps.astro";
import Layout from "@layouts/Layout.astro";

changeLanguage("ko");
---

<Layout >
  <div id='vanta' class='absolute h-[50vh] w-full overflow-hidden bg-[#191e3c] opacity-75 md:h-screen'></div>

  <div class='relative z-10 space-y-12 overflow-x-hidden py-12 md:space-y-32 md:pb-24'>
    <div class='space-y-12'>
      <Hero />
      <Partners />
    </div>
    <Features />
    <Steps />
    <App />
  </div>
</Layout>

<script >
  const isSaveData = window.matchMedia(`(prefers-reduced-data: reduce)`).matches === true;
  const isMotionSafe = window.matchMedia(`(prefers-reduced-motion: no-preference)`).matches === true;

  const removeVantaContainer = () => document.querySelector('#vanta')?.remove();

  if (!isSaveData && isMotionSafe) {
    Promise.all([import('three'), import('vanta/dist/vanta.halo.min')])
      .then(([THREE, { default: HALO }]) => {
        HALO({
          el: '#vanta',
          mouseControls: true,
          xOffset: 0.2,
          THREE,
          baseColor: 0x0000ff,
          backgroundColor: 0x191e3c,
          size: 0.9,
          amplitudeFactor: 0,
        });
      })
      .catch(() => removeVantaContainer());
  } else {
    removeVantaContainer();
  }
</script>
