---
import { changeLanguage, t } from "i18next";
import { NAV_LINKS } from "@/constants";
import { localizePath } from "astro-i18next";
import Layout from "@/layouts/Layout.astro";

changeLanguage("ko");
---

<Layout title={t('contact-form.success.h1')!}>
  <section class="grid pt-36 place-items-center content-center gap-4 text-center">
    <h1 class="mb-4 text-4xl font-bold">
      {t('contact-form.success.h1')}
    </h1>
    <p class="text-lg">{t('contact-form.success.p')}</p>
    <a href={localizePath(NAV_LINKS.HOME.href)} class="hover:underline">{t('common.go-home')} ↗</a>
  </section>
</Layout>
