---
import { changeLanguage } from "i18next";
import Layout from "@/layouts/Layout.astro";
import CoreTeam from "@/components/team/CoreTeam.astro";
import Hero from "@/components/team/Hero.astro";
import History from "@/components/team/History.astro";
import Partners from "@/components/Partners.astro";

changeLanguage("ko");
---

<Layout
  title="FingeRate | Our Team"
  description="Get to know dedicated people behind FingeRate and its innovative solutions. Connect with us today to explore and discover our exciting vision for future."
>
  <div class="py-12 space-y-24 md:pb-24">
    <Hero />
    <CoreTeam />
    <History />
    <section data-scroll-animation class="mx-auto max-w-screen-xl px-2">
      <h2 class="text-center font-bold text-3xl mb-16">They Work With Us</h2>
      <Partners />
    </section>
  </div>
</Layout>
