---
interface Props {
  title: string
  name?: string
}

const { title, name } = Astro.props
---

<details
  {name}
  data-scroll-animation
  class="ring-neonBlue marker:text-neonBlue rounded-lg p-4 bg-slate-950/80 transition open:ring hover:ring"
>
  <summary class="font-medium hover:cursor-pointer">{title}</summary>
  <div class="mt-4 prose prose-invert">
    <slot />
  </div>
</details>
