---
import { localizePath } from "astro-i18next";
import { NAV_LINKS } from "@/constants";
import { Image } from "astro:assets";
import logo from '@assets/logo.webp'

const products = [
  ['App',localizePath(NAV_LINKS.HOME.href), 'bg-intelligentBlue'],
  ['Bot',localizePath(NAV_LINKS.BOT.href), 'bg-softFire'],
  ['Token',localizePath(NAV_LINKS.TOKEN.href), 'bg-neonBlue']
  ] as const
---

<div  class="flex flex-col items-center gap-16 sticky top-20">
  <h2 class="text-2xl font-bold text-center">Ecosystem</h2>
  <div class="[--r:100px] [--a:0deg] w-[calc(var(--r)*2)] rounded-full grid [&:has(>a:is(:hover,:focus))_a:not(:hover,:focus)]:opacity-75 transition-shadow hover:ring-0  aspect-square ring-cyberLilac ring-2 relative text-center hover:[animation-play-state:paused] focus-within:[animation-play-state:paused] animate-orbit">
    <Image src={logo} loading="eager" alt='FingeRate logo' class='w-20 rounded-full absolute place-self-center'/>
      
      {products.map(([text,href, bg],i) => <a {href}  class={`${bg} hover:ring-2 font-bold ring-white transition-[box-shadow,opacity]  [--s:75px] grid absolute w-[--s] rounded-full place-items-center aspect-square  left-[calc(var(--r)-(var(--s)/2))] top-[calc(var(--r)-(var(--s)/2))]
 first-of-type:translate-x-[calc(cos(0deg+var(--a))*var(--r))]
 first-of-type:translate-y-[calc(sin(0deg+var(--a))*var(--r))]
 translate-x-[calc(cos(120deg+var(--a))*var(--r))]
 translate-y-[calc(sin(120deg+var(--a))*var(--r))]
 last-of-type:translate-x-[calc(cos(240deg+var(--a))*var(--r))]
 last-of-type:translate-y-[calc(sin(240deg+var(--a))*var(--r))]
 `}>{text}</a>)}
  </div>
</div>

