---
import { Image } from "astro:assets";
import src from '@assets/team/fr-logo-old.png'
---

<section data-scroll-animation class="mx-auto max-w-screen-lg px-2">
  <div class="grid md:grid-cols-2 gap-6">
    <div class="space-y-2 max-w-[60ch]">
      <h2 class="text-4xl font-bold mb-4 ">When It All Started</h2>
      <p>Back in 2019, our founders Seung-soo Han and Young-kun Kim noticed that there was a need for solutions that would facilitate data gathering in the tourist sector. After digging deeper and building a passionate team, they discovered the power of AI and created the first FingeRate Bot.</p>
      <p>Fast forward three years to the height of the Covid-19 pandemic, the FingeRate team expanded their ecosystem by introducing a groundbreaking app. This innovative metaverse application allows users to participate in surveys and earn rewards.</p>
      <p>Today, the FingeRate team is setting its sights on reaching new heights, aiming to provide exceptional services and innovative solutions.</p>
    </div>
    <div class="grid place-items-center bg-white rounded-lg h-full">
      <div class=" w-1/2 ">
        <figure>
      <Image {src} alt='FingeRate Logo v.1' class=""/>
      <figcaption class="text-deepSpace text-center p-2">FingeRate Logo v.1</figcaption>
      </figure>
      </div>
    </div>
  </div>
</section>