---
import { t } from 'i18next'
import { Image } from 'astro:assets'
import src from '@/assets/team/fr-logo-old.png'
---

<section data-scroll-animation class="mx-auto max-w-screen-lg px-2">
  <div class="grid md:grid-cols-2 gap-6">
    <div class="space-y-2 max-w-[60ch]">
      <h2 class="text-4xl font-bold mb-4">{t('team.history.h2')}</h2>
      <p>{t('team.history.p-1')}</p>
      <p>{t('team.history.p-2')}</p>
      <p>{t('team.history.p-3')}</p>
    </div>
    <div class="grid place-items-center bg-white rounded-lg h-full">
      <div class="w-1/2">
        <figure>
          <Image {src} alt="FingeRate Logo v.1" class="" />
          <figcaption class="text-deepSpace text-center p-2">FingeRate Logo v.1</figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>
