---
import { changeLanguage } from "i18next";
import { NAV_LINKS } from "@/constants";
import Layout from "@/layouts/Layout.astro";

changeLanguage("en");
---

<Layout>
  <div class="mx-auto grid h-full max-w-screen-lg place-items-center p-2 text-center">
    <div>
      <h1 class="mb-4 text-4xl font-bold">Page not Found...</h1>
      <a href={NAV_LINKS.HOME.href} class="hover:underline">Go to homepage ↗</a>
    </div>
  </div>
</Layout>
