---
import { changeLanguage, t } from "i18next";
import { NAV_LINKS } from "@/constants";
import Layout from "@/layouts/Layout.astro";

changeLanguage("en");
---

<Layout>
  <section class="py-24 text-center">
    <h1 class="mb-4 text-4xl font-bold">{t('404')}</h1>
    <a href={NAV_LINKS.HOME.href} class="hover:underline">{t('common.go-home')} ↗</a>
  </section>
</Layout>
