---
import Layout from '@layouts/Layout.astro';
---

<Layout title='Contact'>
  <section class='mx-auto grid h-full max-w-screen-sm items-center p-2'>
    <div class='space-y-4'>
      <div class='text-center'>
        <h1 class='brand-text text-3xl font-bold leading-loose drop-shadow-[0_0_8px_#000]'>Contact Us</h1>
        <p class='text-sm'>
          We're always happy to help with any questions or requests you may have! If you need a more personalized
          response, we'll do our best to get back to you as quickly as possible.
        </p>
      </div>
      <form class='grid gap-6 rounded-lg bg-slate-950/80 p-6' action='https://api.web3forms.com/submit' method='POST'>
        <input type='hidden' name='access_key' value={import.meta.env.PUBLIC_WEB3_FORM_ACCESS_KEY} />
        <input type='checkbox' name='botcheck' class='hidden' style='display: none;' />
        <div class='grid gap-2'>
          <label class='mb-1 block text-sm font-medium text-white' for='name'>Your Name</label>
          <input
            class='block w-full rounded-lg border border-gray-600 bg-gray-700 p-2.5 text-sm text-white placeholder-gray-400 focus:border-neonBlue focus:ring-neonBlue'
            type='text'
            name='name'
            id='name'
            autocomplete='name'
            required
          />
        </div>
        <div class='grid gap-2'>
          <label class='mb-1 block text-sm font-medium text-white' for='email'>Your Email</label>
          <input
            class='block w-full rounded-lg border border-gray-600 bg-gray-700 p-2.5 text-sm text-white placeholder-gray-400 focus:border-neonBlue focus:ring-neonBlue'
            type='email'
            name='email'
            autocomplete='email'
            id='email'
            required
          />
        </div>
        <div class='grid gap-2'>
          <label class='mb-1 block text-sm font-medium text-white' for='message'
            >Message <span class='text-sm'>(max 225 characters)</span></label
          >
          <textarea
            maxlength='225'
            class='block w-full rounded-lg border border-gray-600 bg-gray-700 p-2.5 text-sm text-white placeholder-gray-400 focus:border-neonBlue focus:ring-neonBlue'
            name='message'
            id='message'
            required></textarea>
        </div>
        <input type='hidden' name='subject' value='Contact us from fingerate.world' />
        <input type='hidden' name='redirect' value='https://web3forms.com/success' />

        <button
          type='submit'
          class='rounded-full bg-intelligentBlue px-5 py-2.5 text-center text-sm font-medium text-white transition hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300'
          >Submit</button
        >
      </form>
    </div>
  </section>
</Layout>
