---
import Ecosystem from "@/components/FAQ/Ecosystem.astro";
import QnA from "@/components/FAQ/QnA.astro";
import { NAV_LINKS } from "@/constants";
import Layout from "@/layouts/Layout.astro";
import { localizePath } from "astro-i18next";
import { changeLanguage, t } from "i18next";

changeLanguage("en");
---

<Layout image="/og/faq.jpg" title={t('seo.faq.title')!} description={t('seo.faq.description')!}>
  <div class="px-2 mx-auto max-w-screen-lg grid md:grid-cols-[2fr_1fr] gap-8 py-12">
    <QnA />
    <section class="relative">
      <Ecosystem />
    </section>
    <section data-scroll-animation class="md:col-span-2 rounded-lg bg-brandGradient text-center p-8">
      <h2 class="font-bold text-3xl mb-4">Ask Us Your Questions!</h2>
      <a class="hover:underline text-lg" href={localizePath(NAV_LINKS.CONTACT.href)}>Contact page</a>
    </section>
  </div>
</Layout>
