---
import { changeLanguage } from "i18next";
import Features from "@/components/home/Features.astro";
import App from "@/components/home/App.astro";
import Hero from "@/components/home/Hero.astro";
import Partners from "@/components/Partners.astro";
import Steps from "@/components/home/Steps.astro";
import Layout from "@/layouts/Layout.astro";

changeLanguage("en");
---

<Layout>
  <div
    id="vanta"
    class="absolute h-[50vh] w-full overflow-hidden bg-[#191e3c] opacity-75 md:h-screen"
  >
  </div>

  <div
    class="relative z-10 space-y-12 overflow-x-hidden py-12 md:space-y-32 md:pb-24"
  >
    <div class="space-y-12">
      <Hero />
      <section class="mx-auto max-w-screen-lg px-2">
        <Partners />
      </section>
    </div>
    <Features />
    <Steps />
    <App />
  </div>
</Layout>
