---
import BenefitsAnimation from '@/components/home/BenefitsAnimation.astro';
import App from '@components/home/App.astro';
import Benefits from '@components/home/Benefits.astro';
import Hero from '@components/home/Hero.astro';
import Partners from '@components/home/Partners.astro';
import Steps from '@components/home/Steps.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout title='FingeRate | Survey to Earn Platform'>
  <div id='vanta' class='absolute h-[50vh] w-full overflow-hidden bg-[#191e3c] md:h-screen'></div>

  <div class='relative z-10 space-y-12 py-12 md:space-y-32 md:pb-24'>
    <div class='space-y-12'>
      <Hero />
      <Partners />
    </div>
    <Benefits />
    <!-- <BenefitsAnimation /> -->
    <Steps />
    <App />
  </div>
</Layout>

<script>
  const isSaveData = window.matchMedia(`(prefers-reduced-data: reduce)`).matches === true;
  const isMotionSafe = window.matchMedia(`(prefers-reduced-motion: no-preference)`).matches === true;

  const removeVantaContainer = () => document.querySelector('#vanta')?.remove();

  if (!isSaveData && isMotionSafe) {
    Promise.all([import('three'), import('vanta/dist/vanta.halo.min')])
      .then(([THREE, { default: HALO }]) => {
        HALO({
          el: '#vanta',
          mouseControls: true,
          xOffset: 0.2,
          THREE,
          baseColor: 0x502fc6,
          backgroundColor: 0x191e3c,
          backgroundAlpha: 0,
          size: 1.2,
          amplitudeFactor: 1.5,
        });
      })
      .catch(() => removeVantaContainer());
  } else {
    removeVantaContainer();
  }
</script>
