---
import Layout from '../layouts/Layout.astro';
import Partners from '../components/Partners.astro';
import App from '../components/App.astro';
import Benefits from '../components/Benefits.astro';
import Steps from '../components/Steps.astro';
import Hero from '../components/Hero.astro';
---

<Layout title='FingeRate'>
  <div class="py-12 md:pb-24 space-y-12 md:space-y-32">
    <div class='space-y-12'>
      <Hero />
      <Partners />
    </div>
      <Benefits />
      <Steps />
      <App />
  </div>
</Layout>
