---
import { changeLanguage } from 'i18next'
import Features from '@/components/home/Features.astro'
import App from '@/components/home/App.astro'
import Hero from '@/components/home/Hero.astro'
import Partners from '@/components/Partners.astro'
import Steps from '@/components/home/Steps.astro'
import Layout from '@/layouts/Layout.astro'

changeLanguage('en')
---

<Layout>
  {
    import.meta.env.PROD && (
      <meta slot="head" name="facebook-domain-verification" content="l07jc69qpntjzcxw2qp7ljg9s96nzn" />
    )
  }
  <div class="relative z-10 space-y-12 overflow-x-hidden py-12 md:space-y-32 md:pb-24">
    <div class="space-y-12">
      <Hero />
      <div class="mx-auto max-w-screen-lg px-2">
        <Partners />
      </div>
    </div>
    <Features />
    <Steps />
    <App />
  </div>
</Layout>
