---
import { changeLanguage } from "i18next";
import Layout from "@layouts/Layout.astro";
import Team from "@/components/team/Team.astro";

changeLanguage("en");
---

<Layout title='Team'>
  <div class='pb-12 md:pb-24'>
    <Team />
  </div>
</Layout>
