---
import Hero from '@/components/token/Hero.astro';
import About from '@components/token/About.astro';
import FAQ from '@components/token/FAQ.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout title='MSOT Token'>
  <div class='space-y-12 pb-12 md:space-y-28 md:pb-24'>
    <Hero />
    <About />
    <FAQ />
  </div>
</Layout>
