---
import Layout from '@/layouts/Layout.astro';
import { getPost, getPosts } from '@/api';
import type { GetStaticPaths } from 'astro';
import type { WP_REST_API_Post } from 'wp-types';

export const getStaticPaths: GetStaticPaths = async () => {
  const posts = await getPosts(true);
  return posts.map(({ slug, id }) => ({
    params: { slug },
    props: { id },
  }));
};

interface Props {
  id: WP_REST_API_Post['id'];
}

const { id } = Astro.props;

const post = await getPost(id);
---

<Layout title={post.title.rendered}>
  <article class='prose prose-invert mx-auto max-w-screen-lg bg-slate-900 px-2 py-12 md:px-12'>
    <h1 class='[text-wrap:balance;]' set:html={post.title.rendered} />
    <time datetime={post.date}>{new Date(post.date).toLocaleDateString('ko')}</time>
    <Fragment set:html={post.content.rendered} />
    <a href='/news'>← Go back to News</a>
  </article>
</Layout>
