---
import starbucksLogo from '@/assets/how-it-works/coupons/starbucks.png'
import amazonLogo from '@/assets/how-it-works/coupons/amazon.png'
import googleLogo from '@/assets/how-it-works/coupons/google.png'
import subwayLogo from '@/assets/how-it-works/coupons/subway.png'
import sevenElevenLogo from '@/assets/how-it-works/coupons/sevenEleven.png'
import mcdonaldLogo from '@/assets/how-it-works/coupons/mcdonald.png'
import { Image } from 'astro:assets'
const coupons = [
  ['Starbucks', starbucksLogo],
  ['Amazon', amazonLogo],
  ['Google', googleLogo],
  ['Subway', subwayLogo],
  ['7-Eleven', sevenElevenLogo],
  ["McDonald's", mcdonaldLogo],
] as const
---

<section id="coupons" data-scroll-animation>
  <ul class="flex">
    {
      [...Array(2)].map(() => (
        <div class="flex w-full shrink-0">
          {coupons.map(([name, src]) => (
            <li class="flex-1 ml-2 md:ml-4">
              <div class="bg-slate-950/80 rounded-xl p-2  flex flex-col h-full">
                <b class="text-[clamp(1rem,50%,2rem)] max-md:hidden p-2">{name}</b>
                <div class=" mt-auto md:self-end max-h-16 max-sm:aspect-square">
                  {src && <Image {src} alt={`${name} logo`} class="object-contain aspect-square h-full w-full" />}
                </div>
              </div>
            </li>
          ))}
        </div>
      ))
    }
  </ul>
</section>

<style>
  @keyframes marquee {
    to {
      translate: -100%;
    }
  }

  ul {
    animation: infinite marquee 30s linear;
  }
</style>
