---
const cells = [
  'Create an account and take your first survey to earn your first rewards!',
  'Buy coupons and MSOT directly from our app! Take surveys to earn more SoM and unlock more rewards.',
  'Empower your curiosity and engage your audience with our easy-to-use survey creation feature. Customize your questions.',
];
---

<section class='mx-auto max-w-[850px] break-words px-2'>
  <div
    class='grid gap-8 text-center text-sm sm:grid-cols-2 sm:gap-0 sm:text-base sm:[grid-template-areas:"c1_c2"_"c4_c3"_"c5_c6"] md:grid-cols-3 md:[grid-template-areas:"c1_c4_c5"_"c2_c3_c6"]'
  >
    <div
      class='relative grid place-items-center overflow-hidden rounded-lg p-2 before:absolute before:h-full before:w-full before:opacity-0 before:transition before:[background-image:var(--brand-gradient)] odd:hidden odd:aspect-square odd:bg-slate-950/90 hover:shadow-lg before:hover:opacity-100 sm:[grid-area:c1] sm:odd:grid'
    >
      <svg
        xmlns='http://www.w3.org/2000/svg'
        fill='none'
        viewBox='0 0 24 24'
        stroke-width='1.5'
        stroke='currentColor'
        class='z-10 h-20 w-20'
      >
        <path
          stroke-linecap='round'
          stroke-linejoin='round'
          d='M19 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zM4 19.235v-.11a6.375 6.375 0 0112.75 0v.109A12.318 12.318 0 0110.374 21c-2.331 0-4.512-.645-6.374-1.766z'
        ></path>
      </svg>
    </div>
    <div
      class='grid h-full place-items-center content-center gap-4 rounded-lg p-2 odd:hidden odd:aspect-square odd:bg-slate-950/90 sm:[grid-area:c2] sm:odd:grid'
    >
      <div class='grid h-12 w-12 place-items-center rounded-full bg-slate-950/90 text-2xl font-bold leading-none'>
        1
      </div>
      {cells[0]}
    </div>
    <div
      class='relative grid place-items-center overflow-hidden rounded-lg p-2 before:absolute before:h-full before:w-full before:opacity-0 before:transition before:[background-image:var(--brand-gradient)] odd:hidden odd:aspect-square odd:bg-slate-950/90 hover:shadow-lg before:hover:opacity-100 sm:[grid-area:c3] sm:odd:grid'
    >
      <svg class='z z-10 h-24 w-24' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'>
        <g fill='currentColor'>
          <path
            d='M46.4012 50.8648C46.4012 53.2617 48.3447 55.203 50.7393 55.203C53.1362 55.203 55.0774 53.2594 55.0774 50.8648V28.3373C55.0774 25.9404 53.1362 23.9992 50.7393 23.9992C48.3424 23.9992 46.4012 25.9404 46.4012 28.3373V50.8648Z'
          ></path>
          <path
            d='M33.1148 55.9353C33.1148 58.3322 35.0584 60.2734 37.4529 60.2734C39.8498 60.2734 41.791 58.3298 41.791 55.9353V36.3928C41.791 33.9959 39.8498 32.0547 37.4529 32.0547C35.056 32.0547 33.1148 33.9982 33.1148 36.3928V55.9353Z'
          ></path>
          <path
            d='M64.028 60.2734C61.6334 60.2734 59.6899 58.3322 59.6899 55.9353V34.7631C59.6899 32.3685 61.6311 30.425 64.028 30.425C66.4249 30.425 68.3661 32.3662 68.3661 34.7631V55.9353C68.3661 58.3298 66.4249 60.2734 64.028 60.2734Z'
          ></path>
          <path
            d='M72.9762 60.7337C72.9762 63.1306 74.9198 65.0718 77.3144 65.0718C79.7113 65.0718 81.6525 63.1283 81.6525 60.7337V46.4849C81.6525 44.088 79.7113 42.1467 77.3144 42.1467C74.9175 42.1467 72.9762 44.0903 72.9762 46.4849V60.7337Z'
          ></path>
          <path
            d='M27.2958 71.2512C25.7963 71.2512 24.3386 70.4724 23.5342 69.0822L18.9287 61.1057C17.7314 59.0319 18.4428 56.3793 20.5166 55.1797C22.5926 53.9847 25.2429 54.6938 26.4426 56.7676L31.048 64.744C32.2453 66.8178 31.5339 69.4704 29.4602 70.67C28.7767 71.0629 28.0304 71.2512 27.2958 71.2512Z'
          ></path>
          <path
            fill-rule='evenodd'
            clip-rule='evenodd'
            stroke-width='1.5'
            stroke='currentColor'
            d='M100 50C100 77.6142 77.6142 100 50 100C22.3858 100 0 77.6142 0 50C0 22.3858 22.3858 0 50 0C77.6142 0 100 22.3858 100 50ZM96 50C96 75.4051 75.4051 96 50 96C24.5949 96 4 75.4051 4 50C4 24.5949 24.5949 4 50 4C75.4051 4 96 24.5949 96 50Z'
          ></path>
        </g>
      </svg>
    </div>
    <div
      class='grid h-full place-items-center content-center gap-4 rounded-lg p-2 odd:hidden odd:aspect-square odd:bg-slate-950/90 sm:[grid-area:c4] sm:odd:grid'
    >
      <div class='grid h-12 w-12 place-items-center rounded-full bg-slate-950/90 text-2xl font-bold leading-none'>
        2
      </div>
      {cells[1]}
    </div>
    <div
      class='relative grid place-items-center overflow-hidden rounded-lg p-2 before:absolute before:h-full before:w-full before:opacity-0 before:transition before:[background-image:var(--brand-gradient)] odd:hidden odd:aspect-square odd:bg-slate-950/90 hover:shadow-lg before:hover:opacity-100 sm:[grid-area:c5] sm:odd:grid'
    >
      <svg
        xmlns='http://www.w3.org/2000/svg'
        fill='none'
        viewBox='0 0 24 24'
        stroke-width='1.5'
        stroke='currentColor'
        class='z-10 h-20 w-20'
      >
        <path
          stroke-linecap='round'
          stroke-linejoin='round'
          d='M11.35 3.836c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m8.9-4.414c.376.023.75.05 1.124.08 1.131.094 1.976 1.057 1.976 2.192V16.5A2.25 2.25 0 0118 18.75h-2.25m-7.5-10.5H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V18.75m-7.5-10.5h6.375c.621 0 1.125.504 1.125 1.125v9.375m-8.25-3l1.5 1.5 3-3.75'
        ></path>
      </svg>
    </div>
    <div
      class='grid h-full place-items-center content-center gap-4 rounded-lg p-2 odd:hidden odd:aspect-square odd:bg-slate-950/90 sm:[grid-area:c6] sm:odd:grid'
    >
      <div class='grid h-12 w-12 place-items-center rounded-full bg-slate-950/90 text-2xl font-bold leading-none'>
        3
      </div>
      {cells[2]}
    </div>
  </div>
</section>
