---
import metaverse from '../assets/home/metaverse.webp';
import Apple from '../components/DownloadBtn/Apple.astro';
import Google from '../components/DownloadBtn/Google.astro';
import { Image } from 'astro:assets';
---

<section id='app' class='mx-auto grid max-w-6xl sm:grid-cols-2 lg:grid-cols-none lg:px-2'>
  <div class='lg:h-[calc(100%-4rem)] lg:w-[calc(100%-4rem)] lg:[grid-area:1/1/1/1]'>
    <Image
      src={metaverse}
      alt='FingeRate Bot device inside Metaverse'
      class='h-full w-full object-cover lg:rounded-lg'
    />
  </div>
  <div class='bg-slate-950/90 lg:w-[40%] lg:self-end lg:justify-self-end lg:rounded-lg lg:[grid-area:1/1/1/1]'>
    <div class='p-6 sm:p-12'>
      <h2 class='brand-text text-3xl font-bold leading-[initial]'>Why FingeRate App?</h2>
      <ul class='mt-4 list-disc space-y-2 text-lg marker:text-neonBlue'>
        <li>Fun and Easy Way to Earn Rewards & Coupons</li>
        <li>Safe and Secure</li>
        <li>High Level of Personalization</li>
        <li>Your Avatar, Your Rewards, Your Own World</li>
      </ul>
    </div>
    <div class='flex w-full flex-wrap items-center justify-center gap-4 pb-12'>
      <Google />
      <Apple />
    </div>
  </div>
</section>
