---
import { NAV_LINKS } from '../constants';
const privacyLink = NAV_LINKS.PRIVACY;
---

<div id='cookie-banner' class='fixed bottom-0 z-20 hidden w-full p-2'>
  <div
    class='mx-auto flex max-w-screen-md flex-col justify-between gap-2 rounded-lg bg-blue-900 p-4 sm:flex-row sm:items-center'
  >
    <div class='max-w-[70ch]'>
      <b>Cookie Notice</b>
      <small class='block'>
        To provide the best experiences, we use technologies like cookies to store and/or access device information.
        Consenting to these technologies will allow us to process data such as browsing behavior or unique IDs on this
        site. <a
          href={privacyLink.href}
          target={privacyLink.isExternal ? '_blank' : '_self'}
          rel={privacyLink.isExternal ? 'noopener noreferrer' : ''}
          class='underline'>Privacy&nbsp;Policy</a
        >
      </small>
    </div>
    <div class='grid grow grid-flow-col gap-2 sm:max-w-[25%]'>
      <button type='button' id='close' class='rounded-md border-2 border-cyberLilac px-2 py-1 font-medium'>Deny</button>
      <button
        id='agree'
        type='button'
        class='rounded-md border-2 border-cyberLilac bg-cyberLilac px-2 py-1 font-medium text-deepSpace'>Accept</button
      >
    </div>
  </div>
</div>

<script>
  const getCookie = (name: string) => {
    const value = ' ' + document.cookie;
    const parts = value.split(' ' + name + '=');
    return parts.length < 2 ? undefined : parts.pop()!.split(';').shift();
  };

  const setCookie = function (
    name: string,
    value: string,
    expiryDays?: number,
    domain?: string,
    path?: string,
    secure?: boolean
  ) {
    const exdate = new Date();
    exdate.setHours(exdate.getHours() + (expiryDays ? expiryDays : 365) * 24);
    document.cookie =
      name +
      '=' +
      value +
      ';expires=' +
      exdate.toUTCString() +
      ';path=' +
      (path || '/') +
      (domain ? ';domain=' + domain : '') +
      (secure ? ';secure' : '');
  };

  (() => {
    const $cookiesBanner = document.querySelector('#cookie-banner') as HTMLDivElement;
    const $cookiesBannerAgreeBtn = $cookiesBanner.querySelector('#agree') as HTMLButtonElement;
    const $cookiesBannerCloseBtn = $cookiesBanner.querySelector('#close') as HTMLButtonElement;
    const cookieName = 'agreeToCookies';
    const hasCookie = getCookie(cookieName);

    if (!hasCookie) {
      $cookiesBanner.classList.remove('hidden');
    }

    $cookiesBannerAgreeBtn.addEventListener('click', () => {
      setCookie(cookieName, 'agreed', 30);
      $cookiesBanner.remove();
    });
    $cookiesBannerCloseBtn.addEventListener('click', () => {
      setCookie(cookieName, 'closed', 30);
      $cookiesBanner.remove();
    });
  })();
</script>
