---
import { NAV_LINKS, type Link } from '../constants'
import { localizePath } from 'astro-i18next'
import { t } from 'i18next'
import logo from '../assets/logo.webp'
import Social from './Social.astro'
import { Image } from 'astro:assets'

const footerLinks: Link[][] = [
  [
    { ...NAV_LINKS.APP, name: t('links.app', { lng: 'en' }) },
    { ...NAV_LINKS.BOT, name: t('links.bot', { lng: 'en' }) },
    { ...NAV_LINKS.TOKEN, name: t('links.token', { lng: 'en' }) },
  ],
  [
    { ...NAV_LINKS.HOW_IT_WORKS, name: t('links.how-it-works', { lng: 'en' }) },
    { ...NAV_LINKS.REDEEM_COUPON, name: t('links.redeem-coupon', { lng: 'en' }) },
    { ...NAV_LINKS.BUSINESSES, name: t('links.businesses', { lng: 'en' }) },
  ],
  [
    { ...NAV_LINKS.TEAM, name: t('links.team', { lng: 'en' }) },
    { ...NAV_LINKS.PRIVACY, name: t('links.privacy-policy', { lng: 'en' }) },
    { ...NAV_LINKS.TERMS, name: t('links.terms-of-use', { lng: 'en' }) },
  ],
]
---

<footer class="bg-slate-950/50">
  <div class="mx-auto flex w-full max-w-screen-lg flex-col items-center gap-8 sm:flex-row px-4 pb-4 pt-6">
    <Image class="size-10 rounded-md" quality="low" src={logo} alt="FingeRate Logo without text" />
    <nav aria-label="secondary navigation">
      <ul class="flex flex-wrap max-sm:flex-col max-sm:justify-center gap-8 md:gap-12 text-sm max-sm:text-center">
        {
          footerLinks.map((group) => (
            <li>
              <ul class="space-y-2">
                {group.map((l) => (
                  <li class="hover:underline">
                    <a
                      href={l.isExternal ? l.href : localizePath(l.href)}
                      target={l.isExternal ? '_blank' : '_self'}
                      rel={l.isExternal ? 'noopener noreferrer' : ''}
                    >
                      {l.name}
                      {l.isExternal && <>&nbsp;↗</>}
                    </a>
                  </li>
                ))}
              </ul>
            </li>
          ))
        }
      </ul>
    </nav>
    <Social />
  </div>
  <small class="block text-center text-xs text-blue-300 p-4">
    @{new Date().getFullYear().toString()} GG56 Ltd. ALL RIGHTS RESERVED.
  </small>
</footer>
