---
import img1 from '@assets/bot/how/1.jpg'
import img2 from '@assets/bot/how/2.jpg'
import img3 from '@assets/bot/how/3.jpg'
import img4 from '@assets/bot/how/4.jpg'
import { Image } from 'astro:assets';
---
<section data-scroll-animation class='mx-auto max-w-screen-xl px-2 hidden lg:[display:block]'>
  <h2 class="text-3xl text-center lg:text-left font-bold mb-8">How Does It Work?</h2>
  <div class="grid lg:grid-cols-2 items-center gap-y-12 relative">
    <div class="w-full h-full absolute pointer-events-none z-10">
    <svg xmlns="http://www.w3.org/2000/svg"  class="w-full h-full fill-none"  viewBox="0 0 1264 462" >
   <defs>
 
   <marker id="arrowhead" markerWidth="10" markerHeight="7" 
    refX="0" refY="3.5" orient="auto">
      <polygon class="fill-cyberLilac" points="0 0, 10 3.5, 0 7" />
    </marker>
  </defs>
  <svg  class=" stroke-cyberLilac" style="stroke-width: 2;stroke-dasharray:4;">
    <path   d="M135,95 v-35 h285" marker-end="url(#arrowhead)"/>
    <path  d="M450,400 h140 v-320 h20" marker-end="url(#arrowhead)"/>
    <path  d="M950,160 v20" marker-end="url(#arrowhead)"/>
    <path  d="M950,360 v20" marker-end="url(#arrowhead)"/>
    <path  d="M1050,285 h-5" marker-end="url(#arrowhead)"/>
  </svg>
</svg>
    </div>
    <div class="grid grid-cols-2 lg:grid-cols-[.75fr_1fr]">
      <!-- images -->
      <div class="grid grid-cols-2  justify-between gap-4 border-dashed border-2 border-cyberLilac rounded-[22px] p-4 my-auto">
      {[img1,img2,img3,img4].map(i => <div class="overflow-hidden  rounded-md aspect-square">
<Image alt="person showing gesture to FingeRate Bot" src={i} class="object-cover"/>
</div>)}
      </div>
    <!-- sot -->
    <div class="grid place-items-center">
      <div class=" relative w-1/2 bg-white aspect-[1/2.5] p-[3%] rounded-t-lg lg:rounded-t-2xl 
      before:w-[5%] before:aspect-[1/2] before:rounded-full before:absolute before:left-1/2 before:-translate-x-1/2 before:bg-deepSpace before:top-[10%]
      after:absolute after:bottom-0 after:w-[115%] after:h-[2%] after:-translate-x-1/2 after:bg-gray-200 after:left-1/2">
        <div class="bg-brandGradient aspect-[2/3] mt-[45%] text-sm lg:text-base grid place-items-center text-center font-bold shadow-inner">
          FingeRate Bot
        </div>
      </div>
    </div>
    </div>
    <div class="grid  text-center gap-4">
      <!-- top -->
      <div class="p-4 pt-8 border-dashed border-2 border-cyberLilac rounded-[22px] grid lg:grid-cols-3 gap-4 relative [text-wrap:balance]">
        <div class="font-bold absolute rounded-full text-xl px-3 py-1 bg-intelligentBlue top-0 left-1/2 -translate-x-1/2 -translate-y-1/2">Survey</div>
        <div class="grid place-items-center p-2 rounded-md border-2"><b>Survey location information</b></div>
        <div class="grid place-items-center p-2 rounded-md border-2"><b>Using AI, identify additional information</b><small>(age, sex etc.)</small></div>
        <div class="grid place-items-center p-2 rounded-md border-2"><b>Using hand gesture, respond to survey</b></div>
      </div>
      <!-- mid -->
      <div class="flex justify-end  items-center">
        <div class="font-bold relative text-lg w-1/3 aspect-square grid place-items-center   before:absolute before:inset-[10%] lg:before:inset-[20%] motion-safe:before:animate-[spin_20s_linear_infinite] before:rounded-xl before:anim before:border-4 before:border-neonBlue before:bg-neonBlue/10">
          <b class="relative z-10">AI Data<br>Analysis</b>
        </div>
        <div class="w-1/3 border-2 rounded-lg rounded-tr-none border-cyberLilac grid place-items-center content-center p-4">
        <b>External data</b>
        <small class="hidden lg:block">(Weather, Economic/ Political Condition, etc.)</small>
        </div>
      </div>
      <!-- bot -->
      <div class="grid font-bold text-xl bg-intelligentBlue rounded-lg p-4">
        Provide data and insights for customized marketing/solutions
      </div>
    </div>
  </div>
</section>
