---
import i18next, { t } from 'i18next'
---

<section data-scroll-animation id="benefits" class="bg-slate-950/80 py-24 relative z-10">
  <div class="mx-auto max-w-screen-lg px-2">
    <div class="text-center">
      <h2 set:text={t('agent.benefits.h2')} class="brand-text text-5xl md:text-6xl font-bold" />
    </div>
    <div class="grid md:grid-cols-2 gap-8 mt-12">
      <div class="p-8 rounded-lg bg-brandGradient">
        <h3 class="text-2xl font-bold md:text-4xl mb-4">{t('agent.benefits.benefit-1.h3')}</h3>
        <p class="text-lg md:text-2xl text-pretty">{t('agent.benefits.benefit-1.p')}</p>
      </div>
      <div class="p-8 rounded-lg bg-brandGradient grid content-between">
        <h3 class="text-lg md:text-2xl text-pretty">{t('agent.benefits.benefit-2.h3')}</h3>
        <div
          class="flex justify-center mt-6 md:justify-end *:size-12 text-xl *:rounded-full *:border-2 *:shadow-md *:border-intelligentBlue *:grid text-center gap-4 *:font-bold *:bg-white *:text-intelligentBlue *:place-items-center"
        >
          <div class="hover:-translate-y-4 transition-transform">AP</div>
          <div class="hover:-translate-y-4 transition-transform">AP</div>
          <div class="hover:-translate-y-4 transition-transform">AP</div>
        </div>
      </div>
    </div>
  </div>
</section>
