---
import bg from '@/assets/bg-main.webp'
import CookieBanner from '@/components/CookieBanner.astro'
import Footer from '@/components/Footer.astro'
import HeadMeta from '@/components/HeadMeta.astro'
import Header from '@/components/Header.astro'
import ScrollToTop from '@/components/ScrollToTop.astro'
import GA from '@/scripts/GA.astro'
import { HeadHrefLangs } from 'astro-i18next/components'
import { getImage } from 'astro:assets'
import i18next from 'i18next'
import './style.css'

const optimizedBg = await getImage({ src: bg, format: 'avif', quality: 'mid' })

export interface Props {
  title?: string
  description?: string
  image?: string
  noIndex?: boolean
}
---

<!doctype html>
<html
  lang={i18next.language}
  class="[&:has(dialog[data-modal][open])]:overflow-hidden [&[lang='ko']]:break-keep [color-scheme:dark] scroll-smooth scroll-pt-20"
>
  <head>
    <HeadMeta {...Astro.props} />
    <HeadHrefLangs />
    <link rel="preload" as="image" href={optimizedBg.src} />
    {!import.meta.env.DEV && <GA />}
    <script src="../scripts/reveal-animation.ts"></script>
    <slot name="head" />
  </head>
  <body class="flex min-h-screen flex-col bg-slate-950">
    <Header />
    <main class="bg-cover bg-center grow bg-no-repeat" style={`background-image: url(${optimizedBg.src});`}>
      <slot />
      <ScrollToTop />
    </main>
    <Footer />
    <CookieBanner />
  </body>
</html>
