---
import socials from '@/assets/token/socials.png'
import network from '@/assets/token/network.png'
import { Image } from 'astro:assets'
import { t } from 'i18next'
import { formatNumber } from './Hero.astro'
---

<section class="mx-auto max-w-screen-lg p-2 space-y-16 md:space-y-24">
  <div data-scroll-animation class="grid items-center gap-8 md:grid-cols-2">
    <Image src={network} alt="MSOT network illustration" />
    <div class="text-xl text-cyberLilac">
      <div class="space-y-4">
        <h2 class="text-4xl font-bold text-white" set:html={t('token.about.h2')} />
        <p>
          MSOT Token is directly used to navigate the FingeRate Ecosystem. It provides users with various rewards, while
          creating a world of opportunities.
        </p>
        <p>
          It is built on a secure and transparent blockchain network, ensuring that the best functionalities are
          available to users while maintaining a high level of security and trust.
        </p>
      </div>
      <dl class="flex gap-12 mt-12">
        <div class="flex flex-col-reverse gap-2">
          <dt class="text-sm">Quantity</dt>
          <dd class="font-bold text-4xl text-white">{formatNumber(1_800_000_000)}</dd>
        </div>
        <div class="flex flex-col-reverse gap-2">
          <dt class="text-sm">Members on Telegram</dt>
          <dd class="font-bold text-4xl text-white">+{formatNumber(7000, { notation: 'standard' })}</dd>
        </div>
      </dl>
    </div>
  </div>
  <div data-scroll-animation class="grid items-center gap-8 md:grid-cols-2">
    <Image class="md:order-2" src={socials} alt="Social medias illustration" />
    <div class="space-y-4 text-xl text-cyberLilac">
      <h2 class="text-4xl font-bold text-white" set:text="Join Our Community" />
      <p>
        Are you ready to be a part of something big? Join our vibrant community on Twitter and Telegram (but not only!)
        and become a driving force behind the success of FingeRate!
      </p>
      <p>
        Stay updated with the latest developments, share your ideas, and connect with like-minded individuals who share
        your passion for innovation and new technologies!
      </p>
    </div>
  </div>
</section>
