<section data-scroll-animation class='max-w-screen-lg p-2 mx-auto'>
  <div class='grid grid-cols-2'>
    <h2 class='brand-text  text-4xl font-bold drop-shadow-[0_0_8px_#000] '>FingeRate: One App, One Token, One Ecosystem.</h2>
    <p class='text-lg'>MSOT is the main token used in the FingeRate ecosystem, facilitating transactions, incentivizing users, and enabling them to personalize their experience. The token is built on the Ethereum blockchain and adheres to the ERC-20 standard. The total supply of MSOT is limited to 1.8 billion units.</p>
  </div>
</section>