<section data-scroll-animation class="max-w-screen-lg mx-auto">
    <figure>
    <div id='chart' class='aspect-[0.75/1] sm:aspect-[1.5/1] md:aspect-[3/1] rounded-lg overflow-hidden'></div>
    <figcaption class='text-right mt-2 italic'>MSOT, last 30 days</figcaption>
    </figure>
  </section>