---
import { t } from 'i18next';
---

<div data-scroll-animation class="max-w-screen-lg mx-auto px-2">
  <figure>
    <div id="chart" class="aspect-[0.75/1] sm:aspect-[1.5/1] md:aspect-[3/1] rounded-lg overflow-hidden"></div>
    <figcaption class="text-right mt-2 pr-2 italic">
      {t('token.chart.caption', { days: 90 })}{' '}
      <a
        href="https://www.coingecko.com/en/coins/btour-chain"
        target="_blank"
        class="underline"
        rel="noopener noreferrer">(CoinGecko)</a
      >
    </figcaption>
  </figure>
</div>
