---
// TODO: answers
const faqs = [
  ['What is blockchain?', 'test'],
  ['How do you protect my data? ', 'test'],
  ['Why is MSOT based on Polygon?', 'test'],
  ['Who is behind FingeRate?', 'test'],
  ['What airdrops do you have coming and how do I get involved?', 'test'],
  ['How can I join the community?', 'test'],
];
---

<section data-scroll-animation>
  <h2>FAQ</h2>
  <div class='rounded-lg bg-slate-950/80 p-4'>
    {
      faqs.map(([q, a]) => (
        <details class='marker:text-neonBlue'>
          <summary>{q}</summary>
          <p>{a}</p>
        </details>
      ))
    }
  </div>
</section>
