<qr-dialog class='relative hidden md:block'>
  <button
    title='QR code for FingeRate App download'
    data-qr-btn
    type='button'
    class='grid aspect-square w-12 place-content-center rounded bg-black shadow-center shadow-neonBlue ring-offset-black transition hover:ring-2 hover:ring-white hover:ring-offset-1'
  >
    <span class='sr-only'>toggle show qr code</span>
    <!-- TODO: optimize qr -->
    <svg
      xmlns='http://www.w3.org/2000/svg'
      fill='none'
      viewBox='0 0 24 24'
      stroke-width='1.5'
      stroke='currentColor'
      class='pointer-events-none h-8 w-8'
    >
      <path
        stroke-linecap='round'
        stroke-linejoin='round'
        d='M3.75 4.875c0-.621.504-1.125 1.125-1.125h4.5c.621 0 1.125.504 1.125 1.125v4.5c0 .621-.504 1.125-1.125 1.125h-4.5A1.125 1.125 0 013.75 9.375v-4.5zM3.75 14.625c0-.621.504-1.125 1.125-1.125h4.5c.621 0 1.125.504 1.125 1.125v4.5c0 .621-.504 1.125-1.125 1.125h-4.5a1.125 1.125 0 01-1.125-1.125v-4.5zM13.5 4.875c0-.621.504-1.125 1.125-1.125h4.5c.621 0 1.125.504 1.125 1.125v4.5c0 .621-.504 1.125-1.125 1.125h-4.5A1.125 1.125 0 0113.5 9.375v-4.5z'
      ></path>
      <path
        stroke-linecap='round'
        stroke-linejoin='round'
        d='M6.75 6.75h.75v.75h-.75v-.75zM6.75 16.5h.75v.75h-.75v-.75zM16.5 6.75h.75v.75h-.75v-.75zM13.5 13.5h.75v.75h-.75v-.75zM13.5 19.5h.75v.75h-.75v-.75zM19.5 13.5h.75v.75h-.75v-.75zM19.5 19.5h.75v.75h-.75v-.75zM16.5 16.5h.75v.75h-.75v-.75z'
      ></path>
    </svg>
  </button>
  <dialog data-qr-dialog class='top-0 z-10 rounded border-2 border-cyberLilac p-0'>
    <svg class='h-36 w-36' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'>
      <path
        d='M38.12 13.2C38.3003 13.2 38.4733 13.1284 38.6008 13.0009C38.7284 12.8733 38.8 12.7004 38.8 12.52V13.2H38.12Z'
        fill='currentColor'></path>
      <path
        d='M42 12.52V10.68C42 10.4997 41.9283 10.3267 41.8008 10.1992C41.6733 10.0716 41.5003 10 41.32 10H39.48C39.2996 10 39.1267 10.0716 38.9992 10.1992C38.8716 10.3267 38.8 10.4997 38.8 10.68V13.2H42V12.52Z'
        fill='currentColor'></path>
      <path
        d='M54.12 13.2C54.3003 13.2 54.4733 13.1284 54.6008 13.0009C54.7284 12.8733 54.8 12.7004 54.8 12.52V13.2H54.12Z'
        fill='currentColor'></path>
      <path
        d='M58 12.52V10.68C58 10.4997 57.9283 10.3267 57.8008 10.1992C57.6733 10.0716 57.5003 10 57.32 10H55.48C55.2996 10 55.1267 10.0716 54.9992 10.1992C54.8716 10.3267 54.8 10.4997 54.8 10.68V13.2H58V12.52Z'
        fill='currentColor'></path>
      <path
        d='M63.72 10H61.88C61.5045 10 61.2 10.3044 61.2 10.68V12.52C61.2 12.8956 61.5045 13.2 61.88 13.2H63.72C64.0956 13.2 64.4 12.8956 64.4 12.52V10.68C64.4 10.3044 64.0956 10 63.72 10Z'
        fill='currentColor'></path>
      <path
        d='M38.12 13.2H36.28C36.0997 13.2 35.9267 13.2716 35.7992 13.3991C35.6716 13.5266 35.6 13.6996 35.6 13.88V15.72C35.6 15.9003 35.6716 16.0733 35.7992 16.2008C35.9267 16.3283 36.0997 16.4 36.28 16.4H38.8V13.2H38.12Z'
        fill='currentColor'></path>
      <path d='M42 13.2H38.8V16.4H42V13.2Z' fill='currentColor'></path>
      <path
        d='M44.52 16.4C44.7003 16.4 44.8733 16.3283 45.0008 16.2008C45.1283 16.0733 45.2 15.9003 45.2 15.72V16.4H44.52Z'
        fill='currentColor'></path>
      <path
        d='M42.68 16.4C42.4997 16.4 42.3267 16.3283 42.1992 16.2008C42.0716 16.0733 42 15.9003 42 15.72V16.4H42.68Z'
        fill='currentColor'></path>
      <path
        d='M45.88 13.2C45.6997 13.2 45.5267 13.2716 45.3992 13.3991C45.2717 13.5266 45.2 13.6996 45.2 13.88V16.4H48.4V13.2H45.88Z'
        fill='currentColor'></path>
      <path d='M51.6 13.2H48.4V16.4H51.6V13.2Z' fill='currentColor'></path>
      <path d='M54.8 13.2H51.6V16.4H54.8V13.2Z' fill='currentColor'></path>
      <path
        d='M58 15.72C58 15.9003 57.9283 16.0733 57.8008 16.2008C57.6733 16.3283 57.5003 16.4 57.32 16.4H54.8V13.2H58V15.72Z'
        fill='currentColor'></path>
      <path
        d='M38.8 17.08V16.4H38.12C38.3003 16.4 38.4733 16.4717 38.6008 16.5992C38.7284 16.7267 38.8 16.8997 38.8 17.08Z'
        fill='currentColor'></path>
      <path
        d='M38.12 19.6C38.3003 19.6 38.4733 19.5284 38.6008 19.4009C38.7284 19.2734 38.8 19.1004 38.8 18.92V19.6H38.12Z'
        fill='currentColor'></path>
      <path d='M42 16.4H38.8V19.6H42V16.4Z' fill='currentColor'></path>
      <path d='M45.2 16.4H42V19.6H45.2V16.4Z' fill='currentColor'></path>
      <path d='M48.4 16.4H45.2V19.6H48.4V16.4Z' fill='currentColor'></path>
      <path
        d='M49.08 16.4H48.4V17.08C48.4 16.8997 48.4716 16.7267 48.5992 16.5992C48.7267 16.4717 48.8996 16.4 49.08 16.4Z'
        fill='currentColor'></path>
      <path
        d='M38.12 19.6H36.28C36.0997 19.6 35.9267 19.6716 35.7992 19.7991C35.6716 19.9267 35.6 20.0996 35.6 20.28V22.12C35.6 22.3003 35.6716 22.4733 35.7992 22.6008C35.9267 22.7283 36.0997 22.8 36.28 22.8H38.8V19.6H38.12Z'
        fill='currentColor'></path>
      <path
        d='M42 22.12C42 22.3003 41.9283 22.4733 41.8008 22.6008C41.6733 22.7283 41.5003 22.8 41.32 22.8H38.8V19.6H42V22.12Z'
        fill='currentColor'></path>
      <path
        d='M42.68 19.6H42V20.28C42 20.0996 42.0716 19.9267 42.1992 19.7991C42.3267 19.6716 42.4997 19.6 42.68 19.6Z'
        fill='currentColor'></path>
      <path
        d='M45.2 20.28V19.6H44.52C44.7003 19.6 44.8733 19.6716 45.0008 19.7991C45.1283 19.9267 45.2 20.0996 45.2 20.28Z'
        fill='currentColor'></path>
      <path
        d='M45.2 22.12C45.2 22.3003 45.2717 22.4733 45.3992 22.6008C45.5267 22.7283 45.6997 22.8 45.88 22.8H47.72C47.9004 22.8 48.0733 22.7283 48.2008 22.6008C48.3284 22.4733 48.4 22.3003 48.4 22.12V19.6H45.2V22.12Z'
        fill='currentColor'></path>
      <path
        d='M54.12 19.6H52.28C51.9045 19.6 51.6 19.9044 51.6 20.28V22.12C51.6 22.4955 51.9045 22.8 52.28 22.8H54.12C54.4956 22.8 54.8 22.4955 54.8 22.12V20.28C54.8 19.9044 54.4956 19.6 54.12 19.6Z'
        fill='currentColor'></path>
      <path
        d='M58.68 19.6C58.4997 19.6 58.3267 19.6716 58.1992 19.7991C58.0716 19.9267 58 20.0996 58 20.28V22.8H61.2V19.6H58.68Z'
        fill='currentColor'></path>
      <path
        d='M63.72 19.6C63.9004 19.6 64.0733 19.6716 64.2008 19.7991C64.3284 19.9267 64.4 20.0996 64.4 20.28V22.8H61.2V19.6H63.72Z'
        fill='currentColor'></path>
      <path
        d='M45.2 25.32V23.48C45.2 23.2997 45.1284 23.1267 45.0008 22.9992C44.8733 22.8717 44.7003 22.8 44.52 22.8H42.68C42.4997 22.8 42.3267 22.8717 42.1992 22.9992C42.0716 23.1267 42 23.2997 42 23.48V26H45.2V25.32Z'
        fill='currentColor'></path>
      <path
        d='M50.92 22.8H49.08C48.7044 22.8 48.4 23.1045 48.4 23.48V25.32C48.4 25.6956 48.7044 26 49.08 26H50.92C51.2955 26 51.6 25.6956 51.6 25.32V23.48C51.6 23.1045 51.2955 22.8 50.92 22.8Z'
        fill='currentColor'></path>
      <path
        d='M57.32 25.9999C57.5004 25.9999 57.6733 25.9283 57.8008 25.8008C57.9284 25.6733 58 25.5003 58 25.3199V25.9999H57.32Z'
        fill='currentColor'></path>
      <path d='M61.2 22.8H58V26H61.2V22.8Z' fill='currentColor'></path>
      <path
        d='M64.4 25.32C64.4 25.5004 64.3284 25.6734 64.2008 25.8009C64.0733 25.9284 63.9004 26 63.72 26H61.2V22.8H64.4V25.32Z'
        fill='currentColor'></path>
      <path
        d='M38.8 28.52V26.68C38.8 26.4997 38.7284 26.3267 38.6008 26.1992C38.4733 26.0716 38.3004 26 38.12 26H36.28C36.0997 26 35.9267 26.0716 35.7992 26.1992C35.6716 26.3267 35.6 26.4997 35.6 26.68V29.2H38.8V28.52Z'
        fill='currentColor'></path>
      <path d='M45.2 26H42V29.2H45.2V26Z' fill='currentColor'></path>
      <path
        d='M54.12 26H52.28C52.0997 26 51.9267 26.0716 51.7992 26.1992C51.6716 26.3267 51.6 26.4997 51.6 26.68V28.52C51.6 28.7003 51.6716 28.8733 51.7992 29.0008C51.9267 29.1284 52.0997 29.2 52.28 29.2H54.8V26H54.12Z'
        fill='currentColor'></path>
      <path d='M58 26H54.8V29.2H58V26Z' fill='currentColor'></path>
      <path
        d='M61.2 28.52C61.2 28.7003 61.1284 28.8733 61.0008 29.0008C60.8733 29.1284 60.7003 29.2 60.52 29.2H58V26H61.2V28.52Z'
        fill='currentColor'></path>
      <path
        d='M61.88 26H61.2V26.68C61.2 26.4997 61.2717 26.3267 61.3992 26.1992C61.5267 26.0716 61.6997 26 61.88 26Z'
        fill='currentColor'></path>
      <path
        d='M35.6 31.72C35.6 31.9003 35.6716 32.0733 35.7992 32.2008C35.9267 32.3283 36.0997 32.4 36.28 32.4H38.12C38.3004 32.4 38.4733 32.3283 38.6008 32.2008C38.7284 32.0733 38.8 31.9003 38.8 31.72V29.2H35.6V31.72Z'
        fill='currentColor'></path>
      <path
        d='M42 31.72C42 31.9003 42.0716 32.0733 42.1992 32.2008C42.3267 32.3283 42.4997 32.4 42.68 32.4H44.52C44.7003 32.4 44.8733 32.3283 45.0008 32.2008C45.1284 32.0733 45.2 31.9003 45.2 31.72V29.2H42V31.72Z'
        fill='currentColor'></path>
      <path
        d='M51.6 31.72V29.88C51.6 29.6996 51.5284 29.5266 51.4008 29.3991C51.2733 29.2716 51.1003 29.2 50.92 29.2H49.08C48.8996 29.2 48.7267 29.2716 48.5992 29.3991C48.4716 29.5266 48.4 29.6996 48.4 29.88V32.4H51.6V31.72Z'
        fill='currentColor'></path>
      <path
        d='M54.8 29.88V29.2H54.12C54.3003 29.2 54.4733 29.2716 54.6008 29.3991C54.7284 29.5266 54.8 29.6996 54.8 29.88Z'
        fill='currentColor'></path>
      <path
        d='M54.8 31.72C54.8 31.9003 54.8716 32.0733 54.9992 32.2008C55.1267 32.3283 55.2996 32.4 55.48 32.4H57.32C57.5003 32.4 57.6733 32.3283 57.8008 32.2008C57.9283 32.0733 58 31.9003 58 31.72V29.2H54.8V31.72Z'
        fill='currentColor'></path>
      <path
        d='M58.68 29.2H58V29.88C58 29.6996 58.0716 29.5266 58.1992 29.3991C58.3267 29.2716 58.4997 29.2 58.68 29.2Z'
        fill='currentColor'></path>
      <path
        d='M64.4 31.72V29.88C64.4 29.6996 64.3284 29.5266 64.2008 29.3991C64.0733 29.2716 63.9004 29.2 63.72 29.2H61.88C61.6997 29.2 61.5267 29.2716 61.3992 29.3991C61.2717 29.5266 61.2 29.6996 61.2 29.88V32.4H64.4V31.72Z'
        fill='currentColor'></path>
      <path d='M51.6 32.4H48.4V35.6H51.6V32.4Z' fill='currentColor'></path>
      <path
        d='M61.2 34.92C61.2 35.1004 61.2717 35.2733 61.3992 35.4009C61.5267 35.5284 61.6997 35.6 61.88 35.6H63.72C63.9004 35.6 64.0733 35.5284 64.2008 35.4009C64.3284 35.2733 64.4 35.1004 64.4 34.92V32.4H61.2V34.92Z'
        fill='currentColor'></path>
      <path
        d='M10.68 35.6C10.4997 35.6 10.3267 35.6716 10.1992 35.7991C10.0716 35.9267 10 36.0996 10 36.28V38.8H13.2V35.6H10.68Z'
        fill='currentColor'></path>
      <path d='M16.4 35.6H13.2V38.8H16.4V35.6Z' fill='currentColor'></path>
      <path d='M19.6 35.6H16.4V38.8H19.6V35.6Z' fill='currentColor'></path>
      <path d='M22.8 35.6H19.6V38.8H22.8V35.6Z' fill='currentColor'></path>
      <path
        d='M23.48 38.8H25.32C25.5003 38.8 25.6733 38.7283 25.8008 38.6008C25.9283 38.4733 26 38.3003 26 38.12V36.28C26 36.0996 25.9283 35.9267 25.8008 35.7991C25.6733 35.6716 25.5003 35.6 25.32 35.6H22.8V38.8H23.48Z'
        fill='currentColor'></path>
      <path
        d='M31.72 35.6H29.88C29.6997 35.6 29.5267 35.6716 29.3992 35.7991C29.2717 35.9267 29.2 36.0996 29.2 36.28V38.12C29.2 38.3003 29.2717 38.4733 29.3992 38.6008C29.5267 38.7283 29.6997 38.8 29.88 38.8H32.4V35.6H31.72Z'
        fill='currentColor'></path>
      <path d='M35.6 35.6H32.4V38.8H35.6V35.6Z' fill='currentColor'></path>
      <path d='M38.8 35.6H35.6V38.8H38.8V35.6Z' fill='currentColor'></path>
      <path d='M42 35.6H38.8V38.8H42V35.6Z' fill='currentColor'></path>
      <path
        d='M42.68 38.8H44.52C44.7003 38.8 44.8733 38.7283 45.0008 38.6008C45.1284 38.4733 45.2 38.3003 45.2 38.12V36.28C45.2 36.0996 45.1284 35.9267 45.0008 35.7991C44.8733 35.6716 44.7003 35.6 44.52 35.6H42V38.8H42.68Z'
        fill='currentColor'></path>
      <path
        d='M48.4 38.12C48.4 38.3003 48.4716 38.4733 48.5992 38.6008C48.7267 38.7283 48.8996 38.8 49.08 38.8H50.92C51.1003 38.8 51.2733 38.7283 51.4008 38.6008C51.5284 38.4733 51.6 38.3003 51.6 38.12V35.6H48.4V38.12Z'
        fill='currentColor'></path>
      <path
        d='M57.32 35.6H55.48C55.2996 35.6 55.1267 35.6716 54.9992 35.7991C54.8716 35.9267 54.8 36.0996 54.8 36.28V38.12C54.8 38.3003 54.8716 38.4733 54.9992 38.6008C55.1267 38.7283 55.2996 38.8 55.48 38.8H58V35.6H57.32Z'
        fill='currentColor'></path>
      <path
        d='M60.52 35.6C60.7003 35.6 60.8733 35.6716 61.0008 35.7991C61.1284 35.9267 61.2 36.0996 61.2 36.28V38.8H58V35.6H60.52Z'
        fill='currentColor'></path>
      <path
        d='M63.72 38.8C63.9003 38.8 64.0733 38.7284 64.2008 38.6008C64.3284 38.4733 64.4 38.3003 64.4 38.12V38.8H63.72Z'
        fill='currentColor'></path>
      <path
        d='M61.88 38.8C61.6997 38.8 61.5267 38.7284 61.3992 38.6008C61.2717 38.4733 61.2 38.3003 61.2 38.12V38.8H61.88Z'
        fill='currentColor'></path>
      <path
        d='M67.6 38.12V36.28C67.6 36.0996 67.5284 35.9267 67.4008 35.7991C67.2733 35.6716 67.1003 35.6 66.92 35.6H65.08C64.8996 35.6 64.7267 35.6716 64.5992 35.7991C64.4716 35.9267 64.4 36.0996 64.4 36.28V38.8H67.6V38.12Z'
        fill='currentColor'></path>
      <path
        d='M74 38.12V36.28C74 36.0996 73.9283 35.9267 73.8008 35.7991C73.6733 35.6716 73.5003 35.6 73.32 35.6H71.48C71.2996 35.6 71.1267 35.6716 70.9992 35.7991C70.8716 35.9267 70.8 36.0996 70.8 36.28V38.8H74V38.12Z'
        fill='currentColor'></path>
      <path
        d='M74.68 38.8C74.4997 38.8 74.3267 38.7284 74.1992 38.6008C74.0716 38.4733 74 38.3003 74 38.12V38.8H74.68Z'
        fill='currentColor'></path>
      <path
        d='M79.72 35.6H77.88C77.5045 35.6 77.2 35.9044 77.2 36.28V38.12C77.2 38.4955 77.5045 38.8 77.88 38.8H79.72C80.0956 38.8 80.4 38.4955 80.4 38.12V36.28C80.4 35.9044 80.0956 35.6 79.72 35.6Z'
        fill='currentColor'></path>
      <path
        d='M86.12 35.6H84.28C83.9045 35.6 83.6 35.9044 83.6 36.28V38.12C83.6 38.4955 83.9045 38.8 84.28 38.8H86.12C86.4956 38.8 86.8 38.4955 86.8 38.12V36.28C86.8 35.9044 86.4956 35.6 86.12 35.6Z'
        fill='currentColor'></path>
      <path d='M13.2 38.8H10V42H13.2V38.8Z' fill='currentColor'></path>
      <path d='M16.4 38.8H13.2V42H16.4V38.8Z' fill='currentColor'></path>
      <path d='M19.6 38.8H16.4V42H19.6V38.8Z' fill='currentColor'></path>
      <path
        d='M22.8 41.32C22.8 41.5004 22.7284 41.6734 22.6008 41.8009C22.4733 41.9284 22.3004 42 22.12 42H19.6V38.8H22.8V41.32Z'
        fill='currentColor'></path>
      <path
        d='M23.48 38.8H22.8V39.48C22.8 39.2997 22.8716 39.1267 22.9992 38.9992C23.1267 38.8717 23.2996 38.8 23.48 38.8Z'
        fill='currentColor'></path>
      <path
        d='M38.8 39.48V38.8H38.12C38.3003 38.8 38.4733 38.8717 38.6008 38.9992C38.7284 39.1267 38.8 39.2997 38.8 39.48Z'
        fill='currentColor'></path>
      <path
        d='M38.12 41.9999C38.3003 41.9999 38.4733 41.9283 38.6008 41.8008C38.7284 41.6733 38.8 41.5003 38.8 41.3199V41.9999H38.12Z'
        fill='currentColor'></path>
      <path d='M42 38.8H38.8V42H42V38.8Z' fill='currentColor'></path>
      <path
        d='M42.68 38.8H42V39.48C42 39.2997 42.0716 39.1267 42.1992 38.9992C42.3267 38.8717 42.4997 38.8 42.68 38.8Z'
        fill='currentColor'></path>
      <path
        d='M58 39.48V38.8H57.32C57.5004 38.8 57.6733 38.8717 57.8008 38.9992C57.9284 39.1267 58 39.2997 58 39.48Z'
        fill='currentColor'></path>
      <path
        d='M57.32 41.9999C57.5004 41.9999 57.6733 41.9283 57.8008 41.8008C57.9284 41.6733 58 41.5003 58 41.3199V41.9999H57.32Z'
        fill='currentColor'></path>
      <path d='M61.2 38.8H58V42H61.2V38.8Z' fill='currentColor'></path>
      <path d='M64.4 38.8H61.2V42H64.4V38.8Z' fill='currentColor'></path>
      <path d='M67.6 38.8H64.4V42H67.6V38.8Z' fill='currentColor'></path>
      <path
        d='M68.28 41.9999C68.0997 41.9999 67.9267 41.9283 67.7992 41.8008C67.6716 41.6733 67.6 41.5003 67.6 41.3199V41.9999H68.28Z'
        fill='currentColor'></path>
      <path
        d='M70.8 41.32C70.8 41.5004 70.8716 41.6734 70.9992 41.8009C71.1267 41.9284 71.2996 42 71.48 42H74V38.8H70.8V41.32Z'
        fill='currentColor'></path>
      <path
        d='M76.52 38.8C76.7003 38.8 76.8733 38.8717 77.0008 38.9992C77.1284 39.1267 77.2 39.2997 77.2 39.48V42H74V38.8H76.52Z'
        fill='currentColor'></path>
      <path
        d='M89.32 38.8H87.48C87.1044 38.8 86.8 39.1045 86.8 39.48V41.32C86.8 41.6956 87.1044 42 87.48 42H89.32C89.6955 42 90 41.6956 90 41.32V39.48C90 39.1045 89.6955 38.8 89.32 38.8Z'
        fill='currentColor'></path>
      <path
        d='M10 44.52C10 44.7003 10.0716 44.8733 10.1992 45.0008C10.3267 45.1284 10.4997 45.2 10.68 45.2H12.52C12.7003 45.2 12.8733 45.1284 13.0008 45.0008C13.1284 44.8733 13.2 44.7003 13.2 44.52V42H10V44.52Z'
        fill='currentColor'></path>
      <path
        d='M13.88 42H13.2V42.68C13.2 42.4997 13.2717 42.3267 13.3992 42.1992C13.5267 42.0716 13.6997 42 13.88 42Z'
        fill='currentColor'></path>
      <path
        d='M28.52 42H26.68C26.4997 42 26.3267 42.0716 26.1992 42.1992C26.0716 42.3267 26 42.4997 26 42.68V44.52C26 44.7003 26.0716 44.8733 26.1992 45.0008C26.3267 45.1284 26.4997 45.2 26.68 45.2H29.2V42H28.52Z'
        fill='currentColor'></path>
      <path d='M32.4 42H29.2V45.2H32.4V42Z' fill='currentColor'></path>
      <path d='M35.6 42H32.4V45.2H35.6V42Z' fill='currentColor'></path>
      <path d='M38.8 42H35.6V45.2H38.8V42Z' fill='currentColor'></path>
      <path d='M42 42H38.8V45.2H42V42Z' fill='currentColor'></path>
      <path
        d='M44.52 45.2C44.7003 45.2 44.8733 45.1284 45.0008 45.0009C45.1283 44.8733 45.2 44.7004 45.2 44.52V45.2H44.52Z'
        fill='currentColor'></path>
      <path
        d='M42.68 45.2C42.4997 45.2 42.3267 45.1284 42.1992 45.0009C42.0716 44.8733 42 44.7004 42 44.52V45.2H42.68Z'
        fill='currentColor'></path>
      <path
        d='M45.88 42C45.6997 42 45.5267 42.0716 45.3992 42.1992C45.2717 42.3267 45.2 42.4997 45.2 42.68V45.2H48.4V42H45.88Z'
        fill='currentColor'></path>
      <path d='M51.6 42H48.4V45.2H51.6V42Z' fill='currentColor'></path>
      <path d='M54.8 42H51.6V45.2H54.8V42Z' fill='currentColor'></path>
      <path d='M58 42H54.8V45.2H58V42Z' fill='currentColor'></path>
      <path
        d='M61.2 44.52C61.2 44.7003 61.1284 44.8733 61.0008 45.0008C60.8733 45.1284 60.7003 45.2 60.52 45.2H58V42H61.2V44.52Z'
        fill='currentColor'></path>
      <path
        d='M61.88 42H61.2V42.68C61.2 42.4997 61.2717 42.3267 61.3992 42.1992C61.5267 42.0716 61.6997 42 61.88 42Z'
        fill='currentColor'></path>
      <path
        d='M64.4 42.68V42H63.72C63.9003 42 64.0733 42.0716 64.2008 42.1992C64.3284 42.3267 64.4 42.4997 64.4 42.68Z'
        fill='currentColor'></path>
      <path
        d='M63.72 45.2C63.9003 45.2 64.0733 45.1284 64.2008 45.0009C64.3284 44.8733 64.4 44.7004 64.4 44.52V45.2H63.72Z'
        fill='currentColor'></path>
      <path d='M67.6 42H64.4V45.2H67.6V42Z' fill='currentColor'></path>
      <path
        d='M68.28 45.2H70.12C70.3004 45.2 70.4733 45.1284 70.6008 45.0008C70.7284 44.8733 70.8 44.7003 70.8 44.52V42.68C70.8 42.4997 70.7284 42.3267 70.6008 42.1992C70.4733 42.0716 70.3004 42 70.12 42H67.6V45.2H68.28Z'
        fill='currentColor'></path>
      <path
        d='M74 42.68V42H73.32C73.5004 42 73.6733 42.0716 73.8008 42.1992C73.9284 42.3267 74 42.4997 74 42.68Z'
        fill='currentColor'></path>
      <path
        d='M74 44.52C74 44.7003 74.0716 44.8733 74.1992 45.0008C74.3267 45.1284 74.4997 45.2 74.68 45.2H76.52C76.7003 45.2 76.8733 45.1284 77.0008 45.0008C77.1284 44.8733 77.2 44.7003 77.2 44.52V42H74V44.52Z'
        fill='currentColor'></path>
      <path
        d='M82.92 42H81.08C80.7044 42 80.4 42.3044 80.4 42.68V44.52C80.4 44.8956 80.7044 45.2 81.08 45.2H82.92C83.2955 45.2 83.6 44.8956 83.6 44.52V42.68C83.6 42.3044 83.2955 42 82.92 42Z'
        fill='currentColor'></path>
      <path
        d='M18.92 45.2H17.08C16.8996 45.2 16.7267 45.2716 16.5992 45.3991C16.4716 45.5266 16.4 45.6996 16.4 45.88V47.72C16.4 47.9003 16.4716 48.0733 16.5992 48.2008C16.7267 48.3283 16.8996 48.4 17.08 48.4H19.6V45.2H18.92Z'
        fill='currentColor'></path>
      <path
        d='M22.12 45.2C22.3004 45.2 22.4733 45.2716 22.6008 45.3991C22.7284 45.5266 22.8 45.6996 22.8 45.88V48.4H19.6V45.2H22.12Z'
        fill='currentColor'></path>
      <path
        d='M35.6 45.88V45.2H34.92C35.1004 45.2 35.2733 45.2716 35.4008 45.3991C35.5284 45.5266 35.6 45.6996 35.6 45.88Z'
        fill='currentColor'></path>
      <path
        d='M35.6 47.72C35.6 47.9003 35.6716 48.0733 35.7992 48.2008C35.9267 48.3283 36.0997 48.4 36.28 48.4H38.8V45.2H35.6V47.72Z'
        fill='currentColor'></path>
      <path d='M42 45.2H38.8V48.4H42V45.2Z' fill='currentColor'></path>
      <path d='M45.2 45.2H42V48.4H45.2V45.2Z' fill='currentColor'></path>
      <path d='M48.4 45.2H45.2V48.4H48.4V45.2Z' fill='currentColor'></path>
      <path
        d='M49.08 45.2H48.4V45.88C48.4 45.6996 48.4716 45.5266 48.5992 45.3991C48.7267 45.2716 48.8996 45.2 49.08 45.2Z'
        fill='currentColor'></path>
      <path
        d='M54.8 45.88V45.2H54.12C54.3003 45.2 54.4733 45.2716 54.6008 45.3991C54.7284 45.5266 54.8 45.6996 54.8 45.88Z'
        fill='currentColor'></path>
      <path
        d='M54.8 47.72C54.8 47.9003 54.8716 48.0733 54.9992 48.2008C55.1267 48.3283 55.2996 48.4 55.48 48.4H57.32C57.5003 48.4 57.6733 48.3283 57.8008 48.2008C57.9283 48.0733 58 47.9003 58 47.72V45.2H54.8V47.72Z'
        fill='currentColor'></path>
      <path
        d='M58.68 45.2H58V45.88C58 45.6996 58.0716 45.5266 58.1992 45.3991C58.3267 45.2716 58.4997 45.2 58.68 45.2Z'
        fill='currentColor'></path>
      <path
        d='M63.72 45.2H61.88C61.6997 45.2 61.5267 45.2716 61.3992 45.3991C61.2717 45.5266 61.2 45.6996 61.2 45.88V47.72C61.2 47.9003 61.2717 48.0733 61.3992 48.2008C61.5267 48.3283 61.6997 48.4 61.88 48.4H64.4V45.2H63.72Z'
        fill='currentColor'></path>
      <path
        d='M67.6 47.72C67.6 47.9003 67.5284 48.0733 67.4008 48.2008C67.2733 48.3283 67.1003 48.4 66.92 48.4H64.4V45.2H67.6V47.72Z'
        fill='currentColor'></path>
      <path
        d='M68.28 45.2H67.6V45.88C67.6 45.6996 67.6716 45.5266 67.7992 45.3991C67.9267 45.2716 68.0997 45.2 68.28 45.2Z'
        fill='currentColor'></path>
      <path
        d='M13.2 50.92V49.08C13.2 48.8997 13.1284 48.7267 13.0008 48.5992C12.8733 48.4717 12.7003 48.4 12.52 48.4H10.68C10.4997 48.4 10.3267 48.4717 10.1992 48.5992C10.0716 48.7267 10 48.8997 10 49.08V51.6H13.2V50.92Z'
        fill='currentColor'></path>
      <path
        d='M19.6 49.08V48.4H18.92C19.1003 48.4 19.2733 48.4717 19.4008 48.5992C19.5283 48.7267 19.6 48.8997 19.6 49.08Z'
        fill='currentColor'></path>
      <path
        d='M19.6 50.92C19.6 51.1004 19.6716 51.2733 19.7992 51.4009C19.9267 51.5284 20.0997 51.6 20.28 51.6H22.12C22.3004 51.6 22.4733 51.5284 22.6008 51.4009C22.7284 51.2733 22.8 51.1004 22.8 50.92V48.4H19.6V50.92Z'
        fill='currentColor'></path>
      <path
        d='M31.72 48.4H29.88C29.6997 48.4 29.5267 48.4717 29.3992 48.5992C29.2717 48.7267 29.2 48.8997 29.2 49.08V50.92C29.2 51.1004 29.2717 51.2733 29.3992 51.4009C29.5267 51.5284 29.6997 51.6 29.88 51.6H32.4V48.4H31.72Z'
        fill='currentColor'></path>
      <path
        d='M33.08 51.6H34.92C35.1003 51.6 35.2733 51.5284 35.4008 51.4009C35.5284 51.2733 35.6 51.1004 35.6 50.92V49.08C35.6 48.8997 35.5284 48.7267 35.4008 48.5992C35.2733 48.4717 35.1003 48.4 34.92 48.4H32.4V51.6H33.08Z'
        fill='currentColor'></path>
      <path
        d='M38.8 49.08V48.4H38.12C38.3003 48.4 38.4733 48.4717 38.6008 48.5992C38.7284 48.7267 38.8 48.8997 38.8 49.08Z'
        fill='currentColor'></path>
      <path d='M42 48.4H38.8V51.6H42V48.4Z' fill='currentColor'></path>
      <path
        d='M42.68 48.4H42V49.08C42 48.8997 42.0716 48.7267 42.1992 48.5992C42.3267 48.4717 42.4997 48.4 42.68 48.4Z'
        fill='currentColor'></path>
      <path
        d='M45.2 49.08V48.4H44.52C44.7003 48.4 44.8733 48.4717 45.0008 48.5992C45.1283 48.7267 45.2 48.8997 45.2 49.08Z'
        fill='currentColor'></path>
      <path
        d='M42.68 51.6C42.4997 51.6 42.3267 51.5284 42.1992 51.4009C42.0716 51.2734 42 51.1004 42 50.92V51.6H42.68Z'
        fill='currentColor'></path>
      <path
        d='M45.2 50.92C45.2 51.1004 45.2717 51.2733 45.3992 51.4009C45.5267 51.5284 45.6997 51.6 45.88 51.6H47.72C47.9004 51.6 48.0733 51.5284 48.2008 51.4009C48.3284 51.2733 48.4 51.1004 48.4 50.92V48.4H45.2V50.92Z'
        fill='currentColor'></path>
      <path
        d='M54.12 48.4H52.28C51.9045 48.4 51.6 48.7045 51.6 49.08V50.92C51.6 51.2956 51.9045 51.6 52.28 51.6H54.12C54.4956 51.6 54.8 51.2956 54.8 50.92V49.08C54.8 48.7045 54.4956 48.4 54.12 48.4Z'
        fill='currentColor'></path>
      <path
        d='M60.52 48.4H58.68C58.3044 48.4 58 48.7045 58 49.08V50.92C58 51.2956 58.3044 51.6 58.68 51.6H60.52C60.8956 51.6 61.2 51.2956 61.2 50.92V49.08C61.2 48.7045 60.8956 48.4 60.52 48.4Z'
        fill='currentColor'></path>
      <path
        d='M66.92 51.6C67.1003 51.6 67.2733 51.5284 67.4008 51.4009C67.5283 51.2734 67.6 51.1004 67.6 50.92V51.6H66.92Z'
        fill='currentColor'></path>
      <path
        d='M68.28 48.4C68.0997 48.4 67.9267 48.4717 67.7992 48.5992C67.6716 48.7267 67.6 48.8997 67.6 49.08V51.6H70.8V48.4H68.28Z'
        fill='currentColor'></path>
      <path d='M74 48.4H70.8V51.6H74V48.4Z' fill='currentColor'></path>
      <path d='M77.2 48.4H74V51.6H77.2V48.4Z' fill='currentColor'></path>
      <path
        d='M77.88 51.6H79.72C79.9004 51.6 80.0733 51.5284 80.2008 51.4009C80.3284 51.2733 80.4 51.1004 80.4 50.92V49.08C80.4 48.8997 80.3284 48.7267 80.2008 48.5992C80.0733 48.4717 79.9004 48.4 79.72 48.4H77.2V51.6H77.88Z'
        fill='currentColor'></path>
      <path
        d='M86.12 48.4H84.28C84.0997 48.4 83.9267 48.4717 83.7992 48.5992C83.6716 48.7267 83.6 48.8997 83.6 49.08V50.92C83.6 51.1004 83.6716 51.2733 83.7992 51.4009C83.9267 51.5284 84.0997 51.6 84.28 51.6H86.8V48.4H86.12Z'
        fill='currentColor'></path>
      <path
        d='M87.48 51.6H89.32C89.5003 51.6 89.6733 51.5284 89.8008 51.4009C89.9283 51.2733 90 51.1004 90 50.92V49.08C90 48.8997 89.9283 48.7267 89.8008 48.5992C89.6733 48.4717 89.5003 48.4 89.32 48.4H86.8V51.6H87.48Z'
        fill='currentColor'></path>
      <path d='M13.2 51.6H10V54.8H13.2V51.6Z' fill='currentColor'></path>
      <path
        d='M18.92 51.6H17.08C16.7044 51.6 16.4 51.9044 16.4 52.28V54.12C16.4 54.4955 16.7044 54.8 17.08 54.8H18.92C19.2955 54.8 19.6 54.4955 19.6 54.12V52.28C19.6 51.9044 19.2955 51.6 18.92 51.6Z'
        fill='currentColor'></path>
      <path
        d='M29.2 54.12V52.28C29.2 52.0996 29.1284 51.9267 29.0008 51.7991C28.8733 51.6716 28.7003 51.6 28.52 51.6H26.68C26.4997 51.6 26.3267 51.6716 26.1992 51.7991C26.0716 51.9267 26 52.0996 26 52.28V54.8H29.2V54.12Z'
        fill='currentColor'></path>
      <path
        d='M29.88 54.8C29.6997 54.8 29.5267 54.7284 29.3992 54.6008C29.2717 54.4733 29.2 54.3003 29.2 54.12V54.8H29.88Z'
        fill='currentColor'></path>
      <path
        d='M38.8 54.12C38.8 54.3003 38.8716 54.4733 38.9992 54.6008C39.1267 54.7283 39.2996 54.8 39.48 54.8H42V51.6H38.8V54.12Z'
        fill='currentColor'></path>
      <path
        d='M44.52 51.6C44.7003 51.6 44.8733 51.6716 45.0008 51.7991C45.1284 51.9267 45.2 52.0996 45.2 52.28V54.8H42V51.6H44.52Z'
        fill='currentColor'></path>
      <path
        d='M50.92 51.6H49.08C48.7044 51.6 48.4 51.9044 48.4 52.28V54.12C48.4 54.4955 48.7044 54.8 49.08 54.8H50.92C51.2955 54.8 51.6 54.4955 51.6 54.12V52.28C51.6 51.9044 51.2955 51.6 50.92 51.6Z'
        fill='currentColor'></path>
      <path
        d='M63.72 51.6H61.88C61.6997 51.6 61.5267 51.6716 61.3992 51.7991C61.2717 51.9267 61.2 52.0996 61.2 52.28V54.12C61.2 54.3003 61.2717 54.4733 61.3992 54.6008C61.5267 54.7283 61.6997 54.8 61.88 54.8H64.4V51.6H63.72Z'
        fill='currentColor'></path>
      <path d='M67.6 51.6H64.4V54.8H67.6V51.6Z' fill='currentColor'></path>
      <path d='M70.8 51.6H67.6V54.8H70.8V51.6Z' fill='currentColor'></path>
      <path d='M74 51.6H70.8V54.8H74V51.6Z' fill='currentColor'></path>
      <path d='M77.2 51.6H74V54.8H77.2V51.6Z' fill='currentColor'></path>
      <path
        d='M77.88 51.6H77.2V52.28C77.2 52.0996 77.2717 51.9267 77.3992 51.7991C77.5267 51.6716 77.6997 51.6 77.88 51.6Z'
        fill='currentColor'></path>
      <path d='M13.2 54.8H10V58H13.2V54.8Z' fill='currentColor'></path>
      <path
        d='M22.12 54.8H20.28C19.9045 54.8 19.6 55.1045 19.6 55.48V57.32C19.6 57.6956 19.9045 58 20.28 58H22.12C22.4956 58 22.8 57.6956 22.8 57.32V55.48C22.8 55.1045 22.4956 54.8 22.12 54.8Z'
        fill='currentColor'></path>
      <path
        d='M26 57.32C26 57.5004 26.0716 57.6734 26.1992 57.8009C26.3267 57.9284 26.4997 58 26.68 58H29.2V54.8H26V57.32Z'
        fill='currentColor'></path>
      <path
        d='M29.88 58H31.72C31.9004 58 32.0733 57.9284 32.2008 57.8009C32.3284 57.6734 32.4 57.5004 32.4 57.32V55.48C32.4 55.2997 32.3284 55.1267 32.2008 54.9992C32.0733 54.8717 31.9004 54.8 31.72 54.8H29.2V58H29.88Z'
        fill='currentColor'></path>
      <path
        d='M42 55.48V54.8H41.32C41.5004 54.8 41.6733 54.8717 41.8008 54.9992C41.9284 55.1267 42 55.2997 42 55.48Z'
        fill='currentColor'></path>
      <path
        d='M41.32 57.9999C41.5004 57.9999 41.6733 57.9283 41.8008 57.8008C41.9284 57.6733 42 57.5003 42 57.3199V57.9999H41.32Z'
        fill='currentColor'></path>
      <path d='M45.2 54.8H42V58H45.2V54.8Z' fill='currentColor'></path>
      <path
        d='M54.12 57.9999C54.3003 57.9999 54.4733 57.9283 54.6008 57.8008C54.7284 57.6733 54.8 57.5003 54.8 57.3199V57.9999H54.12Z'
        fill='currentColor'></path>
      <path
        d='M58 57.32V55.48C58 55.2997 57.9283 55.1267 57.8008 54.9992C57.6733 54.8717 57.5003 54.8 57.32 54.8H55.48C55.2996 54.8 55.1267 54.8717 54.9992 54.9992C54.8716 55.1267 54.8 55.2997 54.8 55.48V58H58V57.32Z'
        fill='currentColor'></path>
      <path
        d='M64.4 55.48V54.8H63.72C63.9003 54.8 64.0733 54.8717 64.2008 54.9992C64.3284 55.1267 64.4 55.2997 64.4 55.48Z'
        fill='currentColor'></path>
      <path d='M67.6 54.8H64.4V58H67.6V54.8Z' fill='currentColor'></path>
      <path
        d='M70.8 57.32C70.8 57.5004 70.7284 57.6734 70.6008 57.8009C70.4733 57.9284 70.3004 58 70.12 58H67.6V54.8H70.8V57.32Z'
        fill='currentColor'></path>
      <path
        d='M71.48 54.8H70.8V55.48C70.8 55.2997 70.8716 55.1267 70.9992 54.9992C71.1267 54.8717 71.2996 54.8 71.48 54.8Z'
        fill='currentColor'></path>
      <path
        d='M74 55.48V54.8H73.32C73.5004 54.8 73.6733 54.8717 73.8008 54.9992C73.9284 55.1267 74 55.2997 74 55.48Z'
        fill='currentColor'></path>
      <path
        d='M74 57.32C74 57.5004 74.0716 57.6734 74.1992 57.8009C74.3267 57.9284 74.4997 58 74.68 58H76.52C76.7003 58 76.8733 57.9284 77.0008 57.8009C77.1284 57.6734 77.2 57.5004 77.2 57.32V54.8H74V57.32Z'
        fill='currentColor'></path>
      <path
        d='M82.92 54.8H81.08C80.8996 54.8 80.7267 54.8717 80.5992 54.9992C80.4716 55.1267 80.4 55.2997 80.4 55.48V57.32C80.4 57.5004 80.4716 57.6734 80.5992 57.8009C80.7267 57.9284 80.8996 58 81.08 58H83.6V54.8H82.92Z'
        fill='currentColor'></path>
      <path d='M86.8 54.8H83.6V58H86.8V54.8Z' fill='currentColor'></path>
      <path
        d='M89.32 54.8C89.5003 54.8 89.6733 54.8717 89.8008 54.9992C89.9283 55.1267 90 55.2997 90 55.48V58H86.8V54.8H89.32Z'
        fill='currentColor'></path>
      <path d='M13.2 58H10V61.2H13.2V58Z' fill='currentColor'></path>
      <path
        d='M19.6 60.52V58.68C19.6 58.4997 19.5284 58.3267 19.4008 58.1992C19.2733 58.0716 19.1003 58 18.92 58H17.08C16.8996 58 16.7267 58.0716 16.5992 58.1992C16.4716 58.3267 16.4 58.4997 16.4 58.68V61.2H19.6V60.52Z'
        fill='currentColor'></path>
      <path
        d='M20.28 61.2C20.0997 61.2 19.9267 61.1284 19.7992 61.0009C19.6716 60.8733 19.6 60.7004 19.6 60.52V61.2H20.28Z'
        fill='currentColor'></path>
      <path
        d='M31.72 61.2C31.9003 61.2 32.0733 61.1284 32.2008 61.0009C32.3284 60.8733 32.4 60.7004 32.4 60.52V61.2H31.72Z'
        fill='currentColor'></path>
      <path
        d='M33.08 58C32.8996 58 32.7267 58.0716 32.5992 58.1992C32.4716 58.3267 32.4 58.4997 32.4 58.68V61.2H35.6V58H33.08Z'
        fill='currentColor'></path>
      <path d='M38.8 58H35.6V61.2H38.8V58Z' fill='currentColor'></path>
      <path d='M42 58H38.8V61.2H42V58Z' fill='currentColor'></path>
      <path d='M45.2 58H42V61.2H45.2V58Z' fill='currentColor'></path>
      <path
        d='M49.08 58C48.8996 58 48.7267 58.0716 48.5992 58.1992C48.4716 58.3267 48.4 58.4997 48.4 58.68V61.2H51.6V58H49.08Z'
        fill='currentColor'></path>
      <path d='M54.8 58H51.6V61.2H54.8V58Z' fill='currentColor'></path>
      <path
        d='M58 60.52C58 60.7003 57.9283 60.8733 57.8008 61.0008C57.6733 61.1284 57.5003 61.2 57.32 61.2H54.8V58H58V60.52Z'
        fill='currentColor'></path>
      <path
        d='M63.72 61.2C63.9003 61.2 64.0733 61.1284 64.2008 61.0009C64.3284 60.8733 64.4 60.7004 64.4 60.52V61.2H63.72Z'
        fill='currentColor'></path>
      <path d='M67.6 58H64.4V61.2H67.6V58Z' fill='currentColor'></path>
      <path
        d='M68.28 58H67.6V58.68C67.6 58.4997 67.6716 58.3267 67.7992 58.1992C67.9267 58.0716 68.0997 58 68.28 58Z'
        fill='currentColor'></path>
      <path
        d='M68.28 61.2C68.0997 61.2 67.9267 61.1284 67.7992 61.0009C67.6716 60.8733 67.6 60.7004 67.6 60.52V61.2H68.28Z'
        fill='currentColor'></path>
      <path
        d='M83.6 58.68V58H82.92C83.1003 58 83.2733 58.0716 83.4008 58.1992C83.5283 58.3267 83.6 58.4997 83.6 58.68Z'
        fill='currentColor'></path>
      <path
        d='M83.6 60.52C83.6 60.7003 83.6716 60.8733 83.7992 61.0008C83.9267 61.1284 84.0997 61.2 84.28 61.2H86.8V58H83.6V60.52Z'
        fill='currentColor'></path>
      <path d='M90 58H86.8V61.2H90V58Z' fill='currentColor'></path>
      <path
        d='M10 63.72C10 63.9003 10.0716 64.0733 10.1992 64.2008C10.3267 64.3283 10.4997 64.4 10.68 64.4H12.52C12.7003 64.4 12.8733 64.3283 13.0008 64.2008C13.1284 64.0733 13.2 63.9003 13.2 63.72V61.2H10V63.72Z'
        fill='currentColor'></path>
      <path
        d='M16.4 63.72C16.4 63.9003 16.4716 64.0733 16.5992 64.2008C16.7267 64.3283 16.8996 64.4 17.08 64.4H19.6V61.2H16.4V63.72Z'
        fill='currentColor'></path>
      <path d='M22.8 61.2H19.6V64.4H22.8V61.2Z' fill='currentColor'></path>
      <path d='M26 61.2H22.8V64.4H26V61.2Z' fill='currentColor'></path>
      <path d='M29.2 61.2H26V64.4H29.2V61.2Z' fill='currentColor'></path>
      <path d='M32.4 61.2H29.2V64.4H32.4V61.2Z' fill='currentColor'></path>
      <path d='M35.6 61.2H32.4V64.4H35.6V61.2Z' fill='currentColor'></path>
      <path d='M38.8 61.2H35.6V64.4H38.8V61.2Z' fill='currentColor'></path>
      <path
        d='M39.48 61.2H38.8V61.88C38.8 61.6996 38.8716 61.5266 38.9992 61.3991C39.1267 61.2716 39.2996 61.2 39.48 61.2Z'
        fill='currentColor'></path>
      <path
        d='M42 61.88V61.2H41.32C41.5004 61.2 41.6733 61.2716 41.8008 61.3991C41.9284 61.5266 42 61.6996 42 61.88Z'
        fill='currentColor'></path>
      <path
        d='M39.48 64.4C39.2996 64.4 39.1267 64.3283 38.9992 64.2008C38.8716 64.0733 38.8 63.9003 38.8 63.72V64.4H39.48Z'
        fill='currentColor'></path>
      <path
        d='M42 63.72C42 63.9003 42.0716 64.0733 42.1992 64.2008C42.3267 64.3283 42.4997 64.4 42.68 64.4H44.52C44.7003 64.4 44.8733 64.3283 45.0008 64.2008C45.1284 64.0733 45.2 63.9003 45.2 63.72V61.2H42V63.72Z'
        fill='currentColor'></path>
      <path
        d='M48.4 63.72C48.4 63.9003 48.4716 64.0733 48.5992 64.2008C48.7267 64.3283 48.8996 64.4 49.08 64.4H51.6V61.2H48.4V63.72Z'
        fill='currentColor'></path>
      <path
        d='M54.8 63.72C54.8 63.9003 54.7284 64.0733 54.6008 64.2008C54.4733 64.3283 54.3004 64.4 54.12 64.4H51.6V61.2H54.8V63.72Z'
        fill='currentColor'></path>
      <path
        d='M55.48 61.2H54.8V61.88C54.8 61.6996 54.8716 61.5266 54.9992 61.3991C55.1267 61.2716 55.2996 61.2 55.48 61.2Z'
        fill='currentColor'></path>
      <path
        d='M60.52 61.2H58.68C58.4997 61.2 58.3267 61.2716 58.1992 61.3991C58.0716 61.5266 58 61.6996 58 61.88V63.72C58 63.9003 58.0716 64.0733 58.1992 64.2008C58.3267 64.3283 58.4997 64.4 58.68 64.4H61.2V61.2H60.52Z'
        fill='currentColor'></path>
      <path d='M64.4 61.2H61.2V64.4H64.4V61.2Z' fill='currentColor'></path>
      <path d='M67.6 61.2H64.4V64.4H67.6V61.2Z' fill='currentColor'></path>
      <path d='M70.8 61.2H67.6V64.4H70.8V61.2Z' fill='currentColor'></path>
      <path d='M74 61.2H70.8V64.4H74V61.2Z' fill='currentColor'></path>
      <path d='M77.2 61.2H74V64.4H77.2V61.2Z' fill='currentColor'></path>
      <path
        d='M77.88 64.4H79.72C79.9004 64.4 80.0733 64.3283 80.2008 64.2008C80.3284 64.0733 80.4 63.9003 80.4 63.72V61.88C80.4 61.6996 80.3284 61.5266 80.2008 61.3991C80.0733 61.2716 79.9004 61.2 79.72 61.2H77.2V64.4H77.88Z'
        fill='currentColor'></path>
      <path
        d='M86.8 61.88V61.2H86.12C86.3003 61.2 86.4733 61.2716 86.6008 61.3991C86.7284 61.5266 86.8 61.6996 86.8 61.88Z'
        fill='currentColor'></path>
      <path d='M90 61.2H86.8V64.4H90V61.2Z' fill='currentColor'></path>
      <path
        d='M35.6 65.08V64.4H34.92C35.1004 64.4 35.2733 64.4717 35.4008 64.5992C35.5284 64.7267 35.6 64.8997 35.6 65.08Z'
        fill='currentColor'></path>
      <path d='M38.8 64.4H35.6V67.6H38.8V64.4Z' fill='currentColor'></path>
      <path
        d='M39.48 67.6H41.32C41.5003 67.6 41.6733 67.5284 41.8008 67.4009C41.9283 67.2733 42 67.1004 42 66.92V65.08C42 64.8997 41.9283 64.7267 41.8008 64.5992C41.6733 64.4717 41.5003 64.4 41.32 64.4H38.8V67.6H39.48Z'
        fill='currentColor'></path>
      <path
        d='M61.2 65.08V64.4H60.52C60.7003 64.4 60.8733 64.4717 61.0008 64.5992C61.1283 64.7267 61.2 64.8997 61.2 65.08Z'
        fill='currentColor'></path>
      <path d='M64.4 64.4H61.2V67.6H64.4V64.4Z' fill='currentColor'></path>
      <path
        d='M65.08 64.4H64.4V65.08C64.4 64.8997 64.4716 64.7267 64.5992 64.5992C64.7267 64.4717 64.8996 64.4 65.08 64.4Z'
        fill='currentColor'></path>
      <path
        d='M74 65.08V64.4H73.32C73.5004 64.4 73.6733 64.4717 73.8008 64.5992C73.9284 64.7267 74 64.8997 74 65.08Z'
        fill='currentColor'></path>
      <path d='M77.2 64.4H74V67.6H77.2V64.4Z' fill='currentColor'></path>
      <path
        d='M77.88 64.4H77.2V65.08C77.2 64.8997 77.2717 64.7267 77.3992 64.5992C77.5267 64.4717 77.6997 64.4 77.88 64.4Z'
        fill='currentColor'></path>
      <path
        d='M86.12 67.6C86.3003 67.6 86.4733 67.5284 86.6008 67.4009C86.7284 67.2734 86.8 67.1004 86.8 66.92V67.6H86.12Z'
        fill='currentColor'></path>
      <path d='M90 64.4H86.8V67.6H90V64.4Z' fill='currentColor'></path>
      <path
        d='M35.6 70.12C35.6 70.3003 35.6716 70.4733 35.7992 70.6008C35.9267 70.7283 36.0997 70.8 36.28 70.8H38.12C38.3004 70.8 38.4733 70.7283 38.6008 70.6008C38.7284 70.4733 38.8 70.3003 38.8 70.12V67.6H35.6V70.12Z'
        fill='currentColor'></path>
      <path
        d='M39.48 67.6H38.8V68.28C38.8 68.0996 38.8716 67.9267 38.9992 67.7991C39.1267 67.6716 39.2996 67.6 39.48 67.6Z'
        fill='currentColor'></path>
      <path
        d='M44.52 67.6H42.68C42.4997 67.6 42.3267 67.6716 42.1992 67.7991C42.0716 67.9267 42 68.0996 42 68.28V70.12C42 70.3003 42.0716 70.4733 42.1992 70.6008C42.3267 70.7283 42.4997 70.8 42.68 70.8H45.2V67.6H44.52Z'
        fill='currentColor'></path>
      <path d='M48.4 67.6H45.2V70.8H48.4V67.6Z' fill='currentColor'></path>
      <path
        d='M49.08 70.8H50.92C51.1003 70.8 51.2733 70.7283 51.4008 70.6008C51.5284 70.4733 51.6 70.3003 51.6 70.12V68.28C51.6 68.0996 51.5284 67.9267 51.4008 67.7991C51.2733 67.6716 51.1003 67.6 50.92 67.6H48.4V70.8H49.08Z'
        fill='currentColor'></path>
      <path
        d='M57.32 67.6H55.48C55.1044 67.6 54.8 67.9044 54.8 68.28V70.12C54.8 70.4955 55.1044 70.8 55.48 70.8H57.32C57.6955 70.8 58 70.4955 58 70.12V68.28C58 67.9044 57.6955 67.6 57.32 67.6Z'
        fill='currentColor'></path>
      <path d='M64.4 67.6H61.2V70.8H64.4V67.6Z' fill='currentColor'></path>
      <path
        d='M70.12 67.6H68.28C67.9045 67.6 67.6 67.9044 67.6 68.28V70.12C67.6 70.4955 67.9045 70.8 68.28 70.8H70.12C70.4956 70.8 70.8 70.4955 70.8 70.12V68.28C70.8 67.9044 70.4956 67.6 70.12 67.6Z'
        fill='currentColor'></path>
      <path d='M77.2 67.6H74V70.8H77.2V67.6Z' fill='currentColor'></path>
      <path
        d='M77.88 70.8C77.6997 70.8 77.5267 70.7284 77.3992 70.6008C77.2717 70.4733 77.2 70.3003 77.2 70.12V70.8H77.88Z'
        fill='currentColor'></path>
      <path
        d='M82.92 67.6H81.08C80.8996 67.6 80.7267 67.6716 80.5992 67.7991C80.4716 67.9267 80.4 68.0996 80.4 68.28V70.12C80.4 70.3003 80.4716 70.4733 80.5992 70.6008C80.7267 70.7283 80.8996 70.8 81.08 70.8H83.6V67.6H82.92Z'
        fill='currentColor'></path>
      <path d='M86.8 67.6H83.6V70.8H86.8V67.6Z' fill='currentColor'></path>
      <path
        d='M90 70.12C90 70.3003 89.9283 70.4733 89.8008 70.6008C89.6733 70.7283 89.5003 70.8 89.32 70.8H86.8V67.6H90V70.12Z'
        fill='currentColor'></path>
      <path
        d='M41.32 70.8H39.48C39.1044 70.8 38.8 71.1045 38.8 71.48V73.32C38.8 73.6956 39.1044 74 39.48 74H41.32C41.6955 74 42 73.6956 42 73.32V71.48C42 71.1045 41.6955 70.8 41.32 70.8Z'
        fill='currentColor'></path>
      <path
        d='M45.2 71.48V70.8H44.52C44.7003 70.8 44.8733 70.8717 45.0008 70.9992C45.1283 71.1267 45.2 71.2997 45.2 71.48Z'
        fill='currentColor'></path>
      <path d='M48.4 70.8H45.2V74H48.4V70.8Z' fill='currentColor'></path>
      <path
        d='M49.08 70.8H48.4V71.48C48.4 71.2997 48.4716 71.1267 48.5992 70.9992C48.7267 70.8717 48.8996 70.8 49.08 70.8Z'
        fill='currentColor'></path>
      <path
        d='M50.92 73.9999C51.1004 73.9999 51.2733 73.9283 51.4008 73.8008C51.5284 73.6733 51.6 73.5003 51.6 73.3199V73.9999H50.92Z'
        fill='currentColor'></path>
      <path
        d='M49.08 73.9999C48.8996 73.9999 48.7267 73.9283 48.5992 73.8008C48.4716 73.6733 48.4 73.5003 48.4 73.3199V73.9999H49.08Z'
        fill='currentColor'></path>
      <path
        d='M54.8 73.32V71.48C54.8 71.2997 54.7284 71.1267 54.6008 70.9992C54.4733 70.8717 54.3004 70.8 54.12 70.8H52.28C52.0997 70.8 51.9267 70.8717 51.7992 70.9992C51.6716 71.1267 51.6 71.2997 51.6 71.48V74H54.8V73.32Z'
        fill='currentColor'></path>
      <path
        d='M55.48 73.9999C55.2996 73.9999 55.1267 73.9283 54.9992 73.8008C54.8716 73.6733 54.8 73.5003 54.8 73.3199V73.9999H55.48Z'
        fill='currentColor'></path>
      <path d='M64.4 70.8H61.2V74H64.4V70.8Z' fill='currentColor'></path>
      <path
        d='M65.08 73.9999C64.8996 73.9999 64.7267 73.9283 64.5992 73.8008C64.4716 73.6733 64.4 73.5003 64.4 73.3199V73.9999H65.08Z'
        fill='currentColor'></path>
      <path
        d='M73.32 73.9999C73.5004 73.9999 73.6733 73.9283 73.8008 73.8008C73.9284 73.6733 74 73.5003 74 73.3199V73.9999H73.32Z'
        fill='currentColor'></path>
      <path d='M77.2 70.8H74V74H77.2V70.8Z' fill='currentColor'></path>
      <path
        d='M79.72 70.8C79.9004 70.8 80.0733 70.8717 80.2008 70.9992C80.3284 71.1267 80.4 71.2997 80.4 71.48V74H77.2V70.8H79.72Z'
        fill='currentColor'></path>
      <path
        d='M38.8 76.52V74.68C38.8 74.4997 38.7284 74.3267 38.6008 74.1992C38.4733 74.0716 38.3004 74 38.12 74H36.28C36.0997 74 35.9267 74.0716 35.7992 74.1992C35.6716 74.3267 35.6 74.4997 35.6 74.68V77.2H38.8V76.52Z'
        fill='currentColor'></path>
      <path
        d='M39.48 77.2C39.2996 77.2 39.1267 77.1284 38.9992 77.0009C38.8716 76.8733 38.8 76.7004 38.8 76.52V77.2H39.48Z'
        fill='currentColor'></path>
      <path
        d='M45.2 76.52C45.2 76.7003 45.2717 76.8733 45.3992 77.0008C45.5267 77.1284 45.6997 77.2 45.88 77.2H48.4V74H45.2V76.52Z'
        fill='currentColor'></path>
      <path d='M51.6 74H48.4V77.2H51.6V74Z' fill='currentColor'></path>
      <path d='M54.8 74H51.6V77.2H54.8V74Z' fill='currentColor'></path>
      <path
        d='M55.48 77.2H57.32C57.5003 77.2 57.6733 77.1284 57.8008 77.0008C57.9283 76.8733 58 76.7003 58 76.52V74.68C58 74.4997 57.9283 74.3267 57.8008 74.1992C57.6733 74.0716 57.5003 74 57.32 74H54.8V77.2H55.48Z'
        fill='currentColor'></path>
      <path
        d='M60.52 77.2C60.7003 77.2 60.8733 77.1284 61.0008 77.0009C61.1283 76.8733 61.2 76.7004 61.2 76.52V77.2H60.52Z'
        fill='currentColor'></path>
      <path d='M64.4 74H61.2V77.2H64.4V74Z' fill='currentColor'></path>
      <path d='M67.6 74H64.4V77.2H67.6V74Z' fill='currentColor'></path>
      <path d='M70.8 74H67.6V77.2H70.8V74Z' fill='currentColor'></path>
      <path d='M74 74H70.8V77.2H74V74Z' fill='currentColor'></path>
      <path d='M77.2 74H74V77.2H77.2V74Z' fill='currentColor'></path>
      <path
        d='M80.4 76.52C80.4 76.7003 80.3284 76.8733 80.2008 77.0008C80.0733 77.1284 79.9004 77.2 79.72 77.2H77.2V74H80.4V76.52Z'
        fill='currentColor'></path>
      <path d='M38.8 77.2H35.6V80.4H38.8V77.2Z' fill='currentColor'></path>
      <path
        d='M39.48 80.4H41.32C41.5003 80.4 41.6733 80.3283 41.8008 80.2008C41.9283 80.0733 42 79.9003 42 79.72V77.88C42 77.6996 41.9283 77.5266 41.8008 77.3991C41.6733 77.2716 41.5003 77.2 41.32 77.2H38.8V80.4H39.48Z'
        fill='currentColor'></path>
      <path
        d='M48.4 77.88V77.2H47.72C47.9003 77.2 48.0733 77.2716 48.2008 77.3991C48.3284 77.5266 48.4 77.6996 48.4 77.88Z'
        fill='currentColor'></path>
      <path d='M51.6 77.2H48.4V80.4H51.6V77.2Z' fill='currentColor'></path>
      <path
        d='M52.28 77.2H51.6V77.88C51.6 77.6996 51.6716 77.5266 51.7992 77.3991C51.9267 77.2716 52.0997 77.2 52.28 77.2Z'
        fill='currentColor'></path>
      <path
        d='M52.28 80.4C52.0997 80.4 51.9267 80.3283 51.7992 80.2008C51.6716 80.0733 51.6 79.9003 51.6 79.72V80.4H52.28Z'
        fill='currentColor'></path>
      <path
        d='M60.52 77.2H58.68C58.4997 77.2 58.3267 77.2716 58.1992 77.3991C58.0716 77.5266 58 77.6996 58 77.88V79.72C58 79.9003 58.0716 80.0733 58.1992 80.2008C58.3267 80.3283 58.4997 80.4 58.68 80.4H61.2V77.2H60.52Z'
        fill='currentColor'></path>
      <path
        d='M64.4 79.72C64.4 79.9003 64.3284 80.0733 64.2008 80.2008C64.0733 80.3283 63.9004 80.4 63.72 80.4H61.2V77.2H64.4V79.72Z'
        fill='currentColor'></path>
      <path
        d='M65.08 77.2H64.4V77.88C64.4 77.6996 64.4716 77.5266 64.5992 77.3991C64.7267 77.2716 64.8996 77.2 65.08 77.2Z'
        fill='currentColor'></path>
      <path
        d='M67.6 77.88V77.2H66.92C67.1003 77.2 67.2733 77.2716 67.4008 77.3991C67.5283 77.5266 67.6 77.6996 67.6 77.88Z'
        fill='currentColor'></path>
      <path
        d='M67.6 79.72C67.6 79.9003 67.6716 80.0733 67.7992 80.2008C67.9267 80.3283 68.0997 80.4 68.28 80.4H70.12C70.3004 80.4 70.4733 80.3283 70.6008 80.2008C70.7284 80.0733 70.8 79.9003 70.8 79.72V77.2H67.6V79.72Z'
        fill='currentColor'></path>
      <path
        d='M71.48 77.2H70.8V77.88C70.8 77.6996 70.8716 77.5266 70.9992 77.3991C71.1267 77.2716 71.2996 77.2 71.48 77.2Z'
        fill='currentColor'></path>
      <path
        d='M74 77.88V77.2H73.32C73.5004 77.2 73.6733 77.2716 73.8008 77.3991C73.9284 77.5266 74 77.6996 74 77.88Z'
        fill='currentColor'></path>
      <path d='M77.2 77.2H74V80.4H77.2V77.2Z' fill='currentColor'></path>
      <path
        d='M77.88 77.2H77.2V77.88C77.2 77.6996 77.2717 77.5266 77.3992 77.3991C77.5267 77.2716 77.6997 77.2 77.88 77.2Z'
        fill='currentColor'></path>
      <path
        d='M86.12 77.2H84.28C84.0997 77.2 83.9267 77.2716 83.7992 77.3991C83.6716 77.5266 83.6 77.6996 83.6 77.88V79.72C83.6 79.9003 83.6716 80.0733 83.7992 80.2008C83.9267 80.3283 84.0997 80.4 84.28 80.4H86.8V77.2H86.12Z'
        fill='currentColor'></path>
      <path
        d='M89.32 77.2C89.5003 77.2 89.6733 77.2716 89.8008 77.3991C89.9283 77.5266 90 77.6996 90 77.88V80.4H86.8V77.2H89.32Z'
        fill='currentColor'></path>
      <path d='M38.8 80.4H35.6V83.6H38.8V80.4Z' fill='currentColor'></path>
      <path
        d='M39.48 80.4H38.8V81.08C38.8 80.8997 38.8716 80.7267 38.9992 80.5992C39.1267 80.4717 39.2996 80.4 39.48 80.4Z'
        fill='currentColor'></path>
      <path
        d='M41.32 83.6C41.5004 83.6 41.6733 83.5284 41.8008 83.4009C41.9284 83.2734 42 83.1004 42 82.92V83.6H41.32Z'
        fill='currentColor'></path>
      <path
        d='M39.48 83.6C39.2996 83.6 39.1267 83.5284 38.9992 83.4009C38.8716 83.2734 38.8 83.1004 38.8 82.92V83.6H39.48Z'
        fill='currentColor'></path>
      <path
        d='M45.2 82.92V81.08C45.2 80.8997 45.1284 80.7267 45.0008 80.5992C44.8733 80.4717 44.7003 80.4 44.52 80.4H42.68C42.4997 80.4 42.3267 80.4717 42.1992 80.5992C42.0716 80.7267 42 80.8997 42 81.08V83.6H45.2V82.92Z'
        fill='currentColor'></path>
      <path d='M51.6 80.4H48.4V83.6H51.6V80.4Z' fill='currentColor'></path>
      <path d='M54.8 80.4H51.6V83.6H54.8V80.4Z' fill='currentColor'></path>
      <path
        d='M57.32 80.4C57.5003 80.4 57.6733 80.4717 57.8008 80.5992C57.9283 80.7267 58 80.8997 58 81.08V83.6H54.8V80.4H57.32Z'
        fill='currentColor'></path>
      <path
        d='M73.32 83.6C73.5004 83.6 73.6733 83.5284 73.8008 83.4009C73.9284 83.2734 74 83.1004 74 82.92V83.6H73.32Z'
        fill='currentColor'></path>
      <path d='M77.2 80.4H74V83.6H77.2V80.4Z' fill='currentColor'></path>
      <path
        d='M77.88 83.6C77.6997 83.6 77.5267 83.5284 77.3992 83.4009C77.2717 83.2734 77.2 83.1004 77.2 82.92V83.6H77.88Z'
        fill='currentColor'></path>
      <path
        d='M82.92 80.4H81.08C80.7044 80.4 80.4 80.7045 80.4 81.08V82.92C80.4 83.2956 80.7044 83.6 81.08 83.6H82.92C83.2955 83.6 83.6 83.2956 83.6 82.92V81.08C83.6 80.7045 83.2955 80.4 82.92 80.4Z'
        fill='currentColor'></path>
      <path
        d='M86.8 81.08V80.4H86.12C86.3003 80.4 86.4733 80.4717 86.6008 80.5992C86.7284 80.7267 86.8 80.8997 86.8 81.08Z'
        fill='currentColor'></path>
      <path
        d='M86.8 82.92C86.8 83.1004 86.8716 83.2733 86.9992 83.4009C87.1267 83.5284 87.2996 83.6 87.48 83.6H89.32C89.5003 83.6 89.6733 83.5284 89.8008 83.4009C89.9283 83.2733 90 83.1004 90 82.92V80.4H86.8V82.92Z'
        fill='currentColor'></path>
      <path d='M38.8 83.6H35.6V86.8H38.8V83.6Z' fill='currentColor'></path>
      <path d='M42 83.6H38.8V86.8H42V83.6Z' fill='currentColor'></path>
      <path
        d='M45.2 86.12C45.2 86.3003 45.1284 86.4733 45.0008 86.6008C44.8733 86.7283 44.7003 86.8 44.52 86.8H42V83.6H45.2V86.12Z'
        fill='currentColor'></path>
      <path d='M51.6 83.6H48.4V86.8H51.6V83.6Z' fill='currentColor'></path>
      <path d='M54.8 83.6H51.6V86.8H54.8V83.6Z' fill='currentColor'></path>
      <path
        d='M58 86.12C58 86.3003 57.9283 86.4733 57.8008 86.6008C57.6733 86.7283 57.5003 86.8 57.32 86.8H54.8V83.6H58V86.12Z'
        fill='currentColor'></path>
      <path
        d='M63.72 83.6H61.88C61.6997 83.6 61.5267 83.6716 61.3992 83.7991C61.2717 83.9267 61.2 84.0996 61.2 84.28V86.12C61.2 86.3003 61.2717 86.4733 61.3992 86.6008C61.5267 86.7283 61.6997 86.8 61.88 86.8H64.4V83.6H63.72Z'
        fill='currentColor'></path>
      <path d='M67.6 83.6H64.4V86.8H67.6V83.6Z' fill='currentColor'></path>
      <path d='M70.8 83.6H67.6V86.8H70.8V83.6Z' fill='currentColor'></path>
      <path d='M74 83.6H70.8V86.8H74V83.6Z' fill='currentColor'></path>
      <path d='M77.2 83.6H74V86.8H77.2V83.6Z' fill='currentColor'></path>
      <path
        d='M77.88 86.8H79.72C79.9004 86.8 80.0733 86.7283 80.2008 86.6008C80.3284 86.4733 80.4 86.3003 80.4 86.12V84.28C80.4 84.0996 80.3284 83.9267 80.2008 83.7991C80.0733 83.6716 79.9004 83.6 79.72 83.6H77.2V86.8H77.88Z'
        fill='currentColor'></path>
      <path
        d='M82.92 86.8C83.1003 86.8 83.2733 86.7284 83.4008 86.6008C83.5283 86.4733 83.6 86.3003 83.6 86.12V86.8H82.92Z'
        fill='currentColor'></path>
      <path
        d='M86.8 86.12V84.28C86.8 84.0996 86.7284 83.9267 86.6008 83.7991C86.4733 83.6716 86.3004 83.6 86.12 83.6H84.28C84.0997 83.6 83.9267 83.6716 83.7992 83.7991C83.6716 83.9267 83.6 84.0996 83.6 84.28V86.8H86.8V86.12Z'
        fill='currentColor'></path>
      <path
        d='M87.48 86.8C87.2996 86.8 87.1267 86.7284 86.9992 86.6008C86.8716 86.4733 86.8 86.3003 86.8 86.12V86.8H87.48Z'
        fill='currentColor'></path>
      <path
        d='M35.6 89.32C35.6 89.5004 35.6716 89.6734 35.7992 89.8009C35.9267 89.9284 36.0997 90 36.28 90H38.12C38.3004 90 38.4733 89.9284 38.6008 89.8009C38.7284 89.6734 38.8 89.5004 38.8 89.32V86.8H35.6V89.32Z'
        fill='currentColor'></path>
      <path
        d='M39.48 86.8H38.8V87.48C38.8 87.2997 38.8716 87.1267 38.9992 86.9992C39.1267 86.8717 39.2996 86.8 39.48 86.8Z'
        fill='currentColor'></path>
      <path
        d='M48.4 89.32C48.4 89.5004 48.4716 89.6734 48.5992 89.8009C48.7267 89.9284 48.8996 90 49.08 90H50.92C51.1003 90 51.2733 89.9284 51.4008 89.8009C51.5284 89.6734 51.6 89.5004 51.6 89.32V86.8H48.4V89.32Z'
        fill='currentColor'></path>
      <path
        d='M52.28 86.8H51.6V87.48C51.6 87.2997 51.6716 87.1267 51.7992 86.9992C51.9267 86.8717 52.0997 86.8 52.28 86.8Z'
        fill='currentColor'></path>
      <path
        d='M60.52 86.8H58.68C58.3044 86.8 58 87.1045 58 87.48V89.32C58 89.6956 58.3044 90 58.68 90H60.52C60.8956 90 61.2 89.6956 61.2 89.32V87.48C61.2 87.1045 60.8956 86.8 60.52 86.8Z'
        fill='currentColor'></path>
      <path
        d='M82.92 86.8H81.08C80.8996 86.8 80.7267 86.8717 80.5992 86.9992C80.4716 87.1267 80.4 87.2997 80.4 87.48V89.32C80.4 89.5004 80.4716 89.6734 80.5992 89.8009C80.7267 89.9284 80.8996 90 81.08 90H83.6V86.8H82.92Z'
        fill='currentColor'></path>
      <path d='M86.8 86.8H83.6V90H86.8V86.8Z' fill='currentColor'></path>
      <path
        d='M87.48 90H89.32C89.5003 90 89.6733 89.9284 89.8008 89.8009C89.9283 89.6734 90 89.5004 90 89.32V87.48C90 87.2997 89.9283 87.1267 89.8008 86.9992C89.6733 86.8717 89.5003 86.8 89.32 86.8H86.8V90H87.48Z'
        fill='currentColor'></path>
      <path
        d='M10.6784 9.99683C10.304 9.99683 9.9968 10.304 9.9968 10.6784V13.2V16.4V19.6V22.8V26V29.2V31.7216C9.9968 32.096 10.3008 32.4032 10.6784 32.4032H31.7216C32.096 32.4032 32.4032 32.0992 32.4032 31.7216V29.2V26V22.8V19.6V16.4V13.2V10.6784C32.4032 10.304 32.0992 9.99683 31.7216 9.99683H10.6784ZM29.2 16.4V19.6V22.8V26V28.8096C29.2 29.0272 29.024 29.2 28.8096 29.2H13.5904C13.3728 29.2 13.2 29.024 13.2 28.8096V26V22.8V19.6V16.4V13.5904C13.2 13.3728 13.376 13.2 13.5904 13.2H28.8096C29.0272 13.2 29.2 13.376 29.2 13.5904V16.4Z'
        fill='currentColor'></path>
      <path
        d='M26 22.8001V19.6001V17.0785C26 16.7041 25.696 16.3969 25.3184 16.3969H17.0784C16.704 16.3969 16.3968 16.7009 16.3968 17.0785V19.6001V22.8001V25.3217C16.3968 25.6961 16.7008 26.0033 17.0784 26.0033H25.3184C25.6928 26.0033 26 25.6993 26 25.3217V22.8001Z'
        fill='currentColor'></path>
      <path
        d='M68.2784 9.99683C67.904 9.99683 67.5968 10.304 67.5968 10.6784V13.2V16.4V19.6V22.8V26V29.2V31.7216C67.5968 32.096 67.9008 32.4032 68.2784 32.4032H89.3216C89.696 32.4032 90.0032 32.0992 90.0032 31.7216V29.2V26V22.8V19.6V16.4V13.2V10.6784C90.0032 10.304 89.6992 9.99683 89.3216 9.99683H68.2784ZM86.8 16.4V19.6V22.8V26V28.8096C86.8 29.0272 86.624 29.2 86.4096 29.2H71.1904C70.9728 29.2 70.8 29.024 70.8 28.8096V26V22.8V19.6V16.4V13.5904C70.8 13.3728 70.976 13.2 71.1904 13.2H86.4096C86.6272 13.2 86.8 13.376 86.8 13.5904V16.4Z'
        fill='currentColor'></path>
      <path
        d='M83.6 22.8001V19.6001V17.0785C83.6 16.7041 83.296 16.3969 82.9184 16.3969H74.6784C74.304 16.3969 73.9968 16.7009 73.9968 17.0785V19.6001V22.8001V25.3217C73.9968 25.6961 74.3008 26.0033 74.6784 26.0033H82.9184C83.2928 26.0033 83.6 25.6993 83.6 25.3217V22.8001Z'
        fill='currentColor'></path>
      <path
        d='M10.6784 67.5968C10.304 67.5968 9.9968 67.904 9.9968 68.2784V70.8V74V77.2V80.4V83.6V86.8V89.3216C9.9968 89.696 10.3008 90.0032 10.6784 90.0032H31.7216C32.096 90.0032 32.4032 89.6992 32.4032 89.3216V86.8V83.6V80.4V77.2V74V70.8V68.2784C32.4032 67.904 32.0992 67.5968 31.7216 67.5968H10.6784ZM29.2 74V77.2V80.4V83.6V86.4096C29.2 86.6272 29.024 86.8 28.8096 86.8H13.5904C13.3728 86.8 13.2 86.624 13.2 86.4096V83.6V80.4V77.2V74V71.1904C13.2 70.9728 13.376 70.8 13.5904 70.8H28.8096C29.0272 70.8 29.2 70.976 29.2 71.1904V74Z'
        fill='currentColor'></path>
      <path
        d='M26 80.4V77.2V74.6784C26 74.304 25.696 73.9968 25.3184 73.9968H17.0784C16.704 73.9968 16.3968 74.3008 16.3968 74.6784V77.2V80.4V82.9216C16.3968 83.296 16.7008 83.6032 17.0784 83.6032H25.3184C25.6928 83.6032 26 83.2992 26 82.9216V80.4Z'
        fill='currentColor'></path>
    </svg>
  </dialog>
</qr-dialog>

<script>
  class QrDialog extends HTMLElement {
    constructor() {
      super();
      const btn = this.querySelector('[data-qr-btn]') as HTMLButtonElement;
      const dialog = this.querySelector('[data-qr-dialog]') as HTMLDialogElement;
      const toggleModal = () => (dialog.open ? dialog.close() : dialog.show());

      btn.addEventListener('click', toggleModal);
      dialog.addEventListener('click', () => dialog.close());
    }
  }

  customElements.define('qr-dialog', QrDialog);
</script>
